<component :is="tag" :class="blockClasses">

    <label :class="element('label')">

        <input
            type="checkbox"
            :class="[element('form-element'), (!valid ? 'error' : '')]"
            :aria-label="label"
            v-bind="{
                disabled,
                readonly,
                checked,
                ...$attrs
            }"
            v-on="listeners"
            v-model="value"
            @change="$emit('change', $event.target.checked)"
        >

        <slot name="wrapper">
            <span
                :class="element('wrapper')"
                :tabindex="(disabled || readonly) ? '-1' : tabindex"
                @keyup.enter="toggle"
                @keyup.space="toggle"
            >
                <span :class="element('mark')">
                    <c-icon name="check" />
                </span>

                <span v-if="slotHasContent('default')" :class="element('text')">
                    <slot />
                </span>

                <span v-else-if="label" :class="element('text')" v-html="label" />

            </span>
        </slot>

    </label>

</component>
