////
///
/// c-input-checkbox
///
/// @group Components
///
////

$c-input-checkbox-border-width: unitize(2px) !default;
$c-input-checkbox-border-width--big: unitize(2px) !default;
$c-input-checkbox-border-radius: $basic-border-radius !default;
$c-input-checkbox-text-font: font($default-font-family, 'regular', '16') !default;
$c-input-checkbox-text-font--big: font($default-font-family, 'regular', '19') !default;
$c-input-checkbox-text-opacity--disabled: .25 !default;
$c-input-checkbox-outline-offset--focus: unitize(-6px) !default;
$c-input-checkbox-outline-color--focus: color('outline') !default;
$c-input-checkbox-mark-centered-to-line-spacing: unitize(3px) !default;
$c-input-checkbox-mark-centered-to-line-spacing--big: unitize(6px) !default;
$c-input-checkbox-mark-size: unitize(24px) !default;
$c-input-checkbox-mark-svg-size: unitize(16px) !default;
$c-input-checkbox-mark-size--big: unitize(44px) !default;
$c-input-checkbox-mark-svg-size--big: unitize(24px) !default;
$c-input-checkbox-mark-margin-left: spacing('10') !default;
$c-input-checkbox-mark-margin-left--big: spacing('16') !default;

.c-input-checkbox {
    // #region [Block]
    $module: &;
    display: block;
    position: relative;
    // #endregion

    // #region [Element]
    &__label {
        display: block;
    }

    &__wrapper {
        display: flex;
        position: relative;
        z-index: 1;
        align-items: flex-start;
        cursor: pointer;
        user-select: none;
    }

    &__mark {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: $c-input-checkbox-mark-size;
        height: $c-input-checkbox-mark-size;
        margin-top: $c-input-checkbox-mark-centered-to-line-spacing;
        transition: transition-fade-in(all);
        border-width: $c-input-checkbox-border-width;
        border-style: solid;
        border-radius: $c-input-checkbox-border-radius;
        color: transparent;
        svg {
            display: block;
            width: $c-input-checkbox-mark-svg-size;
            height: $c-input-checkbox-mark-svg-size;
        }
    }

    &__text {
        display: block;
        margin-left: $c-input-checkbox-mark-margin-left;
        font: $c-input-checkbox-text-font;
        @include rtl() {
            margin-left: 0;
            margin-right: $c-input-checkbox-mark-margin-left;
        }
    }

    &__form-element {
        visibility: hidden;
        position: absolute;
        user-select: none;

        + #{$module}__wrapper {
            #{$module}__mark {
                @include color-theme('checkbox');
            }
            &:focus {
                outline: none;
                #{$module}__mark {
                    @include color-theme('focus');
                }
            }
        }
        &:checked {
            + #{$module}__wrapper {
                #{$module}__mark {
                    @include color-theme('checkbox:checked');
                }
            }
        }
        &:disabled {
            + #{$module}__wrapper {
                cursor: default;
                #{$module}__mark {
                    @include color-theme('checkbox:disabled');
                }
                #{$module}__text {
                    opacity: $c-input-checkbox-text-opacity--disabled;
                }
                &:focus {
                    #{$module}__mark {
                        box-shadow: none;
                    }
                }
            }
        }
        &:invalid {
            + #{$module}__wrapper {
                #{$module}__mark {
                    @include color-theme('checkbox:error');
                }
            }
        }
        &.error {
            + #{$module}__wrapper {
                #{$module}__mark {
                    @include color-theme('checkbox:error');
                }
            }
        }
        &:disabled:checked {
            + #{$module}__wrapper {
                #{$module}__mark {
                    @include color-theme('checkbox:disabled:checked');
                }
            }
        }
    }

    // #endregion

    // #region [Modifier]
    &--size-big {
        #{$module}__mark {
            width: $c-input-checkbox-mark-size--big;
            height: $c-input-checkbox-mark-size--big;
            margin-top: 0;
            border-width: $c-input-checkbox-border-width--big;
            svg {
                width: $c-input-checkbox-mark-svg-size--big;
                height: $c-input-checkbox-mark-svg-size--big;
            }

        }
        #{$module}__text {
            margin-top: $c-input-checkbox-mark-centered-to-line-spacing--big;
            margin-left: $c-input-checkbox-mark-margin-left--big;
            font: $c-input-checkbox-text-font--big;
            @include rtl() {
                margin-left: 0;
                margin-right: $c-input-checkbox-mark-margin-left--big;
            }
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-input-checkbox) {
        @include c-input-checkbox;
    }
    // #endregion

}
