////
///
/// m-download-list
///
/// @group Modules
///
////

.m-download-list {
    // #region [Block]
    // #endregion

    // #region [Element]
    &__heading {
        @include responsive-heading-spacing();
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-download-list) {
        @include m-download-list;
    }
    // #endregion

}
