<module v-if="items"
        :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-page>

        <module-content>

            <c-heading v-if="heading && (heading.overline || heading.headline || heading.subline)" :class="element('heading')" v-bind="heading" />

            <c-download-list :items="items" />

        </module-content>

    </module-page>

</module>
