////
///
/// m-parallax
///
/// @group Modules
///
////

$m-parallax-content-items-margin: 50px 0 !default;

.m-parallax {
    // #region [Block]
    $module: &;

    // #endregion

    // #region [Element]
    &__media {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        > * {
            height: inherit;
        }

        video, img {
            width: auto;
            min-width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    &__slide {
        display: flex;
        position: relative;
        z-index: 100;
        align-items: center;
        min-height: 100vh;

        &.theme-medium {
            color: color('medium-font');
        }
        &.theme-dark {
            color: color('dark-font');
        }
    }

    &__content {
        width: 100%;
    }

    &__content-items {
        position: relative;
        z-index: 1;
        margin: $m-parallax-content-items-margin;
        @include color-theme('background');
        @include responsive-spacing(false, padding, (
            'default': '44',
            'm': '71'
        ));
    }

    // #endregion

    // #region [Modifier]
    &--static {
        #{$module}__media {
            position: relative !important;
        }
    }

    &--will-change {
        will-change: transform, opacity;
    }

    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-parallax) {
        @include m-parallax;
    }

    // #endregion

}
