<module :class="blockClasses" :background="false">

    <slot name="media">
        <div :class="element('media')" v-for="(section, index) in sections" :data-parallax-slide="index+1" >

            <component ref="media" :is="section.media.name" v-bind="section.media.data.props" :class="modifier('will-change')" :aspectRatios="{}" :lazyload="false" :autoplay="true" :loop="true" :muted="true" :controls="false" />

        </div>
    </slot>

    <module-page>

        <module-content>

            <slot name="content">

                <div v-for="(section, index) in sections" :class="[element('slide'), section.theme ? 'theme-' + section.theme : 'theme-light' ]" v-slide @inserted="observeSlide" :data-parallax-slide="index" >

                    <layout :class="element('content')" v-if="section.content && section.content[0].data && section.content[0].data.props" :layout="getLayout(section)">

                        <template v-slot:[getSlotName(section)]>

                            <component-loader :class="element('content-items')" :components="section.content" ref="contentItems"/>

                        </template>

                    </layout>

                </div>

            </slot>

        </module-content>

    </module-page>

</module>
