////
///
/// m-accordion
///
/// @group Modules
///
////


.m-accordion {
    // #region [Block]
    // #endregion

    // #region [Element]

    &__heading {
        @include responsive-heading-spacing();
    }

    > .module__background {
        @include grid-cell-height(2);
    }

    #{&}__module + #{&}__module {
        @include grid-cell-row-start(2);
    }

    .c-accordion__panel {
        @include grid-areas();
    }

    .c-accordion__border--top {
        @include grid-cell-position(1, 1);
        @include grid-cell-size(5);
        @include above('s') {
            @include grid-cell-position(3, 1);
            @include grid-cell-size(1);
        }
    }

    .c-accordion__toggle {
        @include grid-cell-position(3, 2);
        @include grid-cell-size(1);
    }

    .c-accordion__content {
        @include grid-cell-position(1, 3);
        @include grid-cell-size(5);
    }

    .c-accordion__border--bottom {
        @include grid-cell-position(1, 4);
        @include grid-cell-size(5);
        @include above('s') {
            @include grid-cell-position(3, 4);
            @include grid-cell-size(1);
        }
    }

    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-accordion) {
        @include m-accordion;
    }
    // #endregion

}
