<module :class="blockClasses"
        :background-position="backgroundPosition"
        :background-image="backgroundImage"
>

    <module-content :class="element('module')" v-if="heading && (heading.overline || heading.headline || heading.subline)">

        <layout layout="l-12">

            <template v-slot:column-1>

                <c-heading :class="element('heading')" v-bind="heading" />

            </template>

        </layout>

    </module-content>

    <module-viewport :class="element('module')">

        <c-accordion :panels="panels" :dropdown="openOnlyOnePanel" :accordion-defaults="{ theme: theme, layoutArea: layoutArea, backgroundPosition: backgroundPosition }">
            <slot />
        </c-accordion>

    </module-viewport>

</module>
