<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <m-slider v-if="type === 'slider'" :background="false" :heading="heading" :text="text" :theme="theme" spacingPaddingBottom="none" spacingPaddingTop="none" :options="sliderOptions" slideArea="content">

        <slot>
            <c-tile tag="swiper-slide" v-for="(tile, index) in tiles"  :key="index" :class="element('slide')" v-bind="tile" />
        </slot>

    </m-slider>

    <module-page v-else-if="type === 'grid'">

        <module-content>

            <layout layout="l-8-4" v-if="heading || text">
                <template v-slot:column-1>

                    <c-heading v-if="heading && (heading.overline || heading.headline || heading.subline)" :class="element('heading')" v-bind="heading" />

                    <c-text v-if="text" :class="element('text')" v-bind="text" />

                </template>

            </layout>

            <layout layout="l-0" :class="element('grid')">
                <template>
                    <slot>
                        <c-tile v-for="(tile, index) in tiles" :key="index" v-bind="tile" />
                    </slot>
                </template>
            </layout>

        </module-content>

    </module-page>

</module>
