////
///
/// m-tile-view
///
/// @group Modules
///
////

.m-tile-view {
    // #region [Block]
    $module: &;
    $gutter: _get-grid-data('column-gutter', $default-grid);
    // #endregion

    // #region [Element]
    // #endregion

    // #region [Modifier]
    &--type-grid {

        #{$module}__grid {
            @include grid-context($row-gutter: calc(20px / $basic-content-width * 98vw), $grid-flow: dense);
            @include above('l') {
                @include grid-context($row-gutter: 20px, $grid-flow: dense);
            }
        }

        .c-grid + #{$module}__grid {
            @include responsive-spacing('small', margin-top);
        }

        .c-image__canvas {
            min-height: 100%;
        }

        .c-tile {

            @include grid-cell-size(6);

            @include above('s') {
                @include grid-cell-size(4);
            }

            @include above('l') {
                @include grid-cell-size(3);
            }

            &--type-collection {
                @include grid-cell-size(12);

                @include above('s') {
                    @include grid-cell-size(6);
                }
            }
        }
    }

    &--type-slider {
        max-width: 100vw;
        overflow: hidden;
        .c-tile {
            margin-right: $gutter;
            width: calc(50% - ($gutter / 2));
            @include above('s') {
                width: calc(33.333% - ($gutter / 1.5));
            }
            @include above('l') {
                width: calc(25% - ($gutter / 1.35));
            }

            &--type-collection {
                width: 100%;
                @include above('s') {
                    width: calc(66.666% - ($gutter / 3));
                }
                @include above('l') {
                    width: calc(50% - ($gutter / 2));
                }
            }
        }
        .c-slider, .c-slider__swiper {
            overflow: visible;
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-tile-view) {
        @include m-tile-view;
    }
    // #endregion

}
