////
///
/// m-text-media
///
/// @group Modules
///
////

$m-text-media-breakout-decoration-spacing: 'medium'!default;
$m-text-media-stacked-spacing: 'small'!default;

@mixin generate-media-breakout($class, $direction: top) {

    @each $breakpoint, $spacing-value in map-get($responsive-spacing-config, $m-text-media-breakout-decoration-spacing) {

        @include possible-mediaquery($breakpoint) {

            .module-page, .module__decoration{
                margin-#{$direction}: _get-possible-spacing-value($spacing-value);
            }

            #{$class}__media-column {
                margin-#{$direction}: (-1 * _get-possible-spacing-value($spacing-value) * 2);
            }

        }

    }

}

.m-text-media {
    // #region [Block]
    $module: &;
    overflow: hidden;
    // #endregion

    // #region [Element]

    .module__decoration {
        @include grid-cell-position(2,1);
        @include grid-cell-size(3);

        & + .module-page {
            @include responsive-spacing($m-text-media-breakout-decoration-spacing, padding-top padding-bottom);
        }
    }

    .component-loader > [class*=c-button] {
        @include responsive-spacing('xsmall', margin-top margin-right);
    }

    // #endregion

    // #region [Modifier]
    &--breakout-image-top {

        #{$module}__media-column {
            align-self: start!important;
        }

        @include generate-media-breakout($module, top);
    }

    &--breakout-image-bottom {

        #{$module}__media-column {
            align-self: end!important;
        }

        @include generate-media-breakout($module, bottom);
    }

    &--mobile-media-width-viewport &__media-column {
        position: relative;
        width: 100vw;
        left: 50%;
        margin-left: -50vw;

        @include above('s') {
            position: static;
            width: auto;
            left: 0;
            margin-left: 0;
        }

    }

    @include below('s') {

        &--mobile-order-text-first &__media-column,
        &--mobile-order-media-first &__text-column {
            order: 2;
            margin-top: spacing(map-get(map-get($responsive-spacing-config, $m-text-media-stacked-spacing), 'default'));
        }

    }

    &--order-text-first &__media-column[class*="l-12"],
    &--order-media-first &__text-column[class*="l-12"] {
        @include above('s') {
            margin-top: spacing(map-get(map-get($responsive-spacing-config, $m-text-media-stacked-spacing), 'default'));
        }
        @include above('m') {
            margin-top: spacing(map-get(map-get($responsive-spacing-config, $m-text-media-stacked-spacing), 'm'));
        }
        @include above('xxxl') {
            margin-top: spacing(map-get(map-get($responsive-spacing-config, $m-text-media-stacked-spacing), 'xxxl'));
        }
    }

    @include above('s') {

        &--vertical-align-top &__media-column,
        &--vertical-align-top &__text-column {
            align-self: start;
        }

        &--vertical-align-center &__media-column,
        &--vertical-align-center &__text-column {
            align-self: center;
        }

        &--vertical-align-bottom &__media-column,
        &--vertical-align-bottom &__text-column {
            align-self: end;
        }

    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-text-media) {
        @include m-text-media;
    }
    // #endregion

}
