<module :class="blockClasses"
        :background="background"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
        :backgroundDecoration="breakoutImage !== null"
        :backgroundDecorationImage="true"
>

    <module-page>

        <module-content :class="element('content')">

            <layout :layout="layout()">

                <div v-if="slotHasContent('media') && order === 'media-first'" :class="[element('media-column'), getMediaColumnClass]">
                    <slot name="media" />
                </div>

                <div v-if="slotHasContent('text')" :class="[element('text-column'), getTextColumnClass]">
                    <slot name="text" />
                </div>

                <div v-if="slotHasContent('media') && order === 'text-first'" :class="[element('media-column'), getMediaColumnClass]">
                    <slot name="media" />
                </div>

            </layout>

        </module-content>

    </module-page>

</module>
