////
///
/// m-table
///
/// @group Modules
///
////

.m-table {
    // #region [Block]
    // #endregion

    // #region [Element]
    &__heading {
        @include responsive-heading-spacing();
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-table) {
        @include m-table;
    }
    // #endregion

}
