////
///
/// m-statement
///
/// @group Modules
///
////

$m-statement-decoration-spacing: 'medium'!default;
$m-statement-decoration-width: 72.5% !default;
$m-statement-element-spacings: (default: '16', s: '27', xl: '44') !default;

$m-statement-quote-font: 'h4' !default;

$m-statement-author-responsive-font: 'h6' !default;

$m-statement-icon-width-mobile: unitize(80px) !default;
$m-statement-icon-height-mobile: unitize(58px) !default;
$m-statement-icon-width-desktop: unitize(152px) !default;
$m-statement-icon-height-desktop: unitize(120px) !default;
$m-statement-icon-spacing-overwrite-mobile: '44' !default;

.m-statement {
    // #region [Block]
    @include below('s') {
        text-align: center !important;
    }
    // #endregion

    // #region [Element]
    .module-page {
        @include responsive-spacing($m-statement-decoration-spacing, padding-top padding-bottom margin-top);
        @include below('s') {
            margin-top: spacing($m-statement-icon-spacing-overwrite-mobile);
        }
    }

    .module__decoration {
        background: transparent!important;
        @include grid-cell-position(1,1);
        @include grid-cell-size(5);
        @include responsive-spacing($m-statement-decoration-spacing, margin-top);
        @include above('s') {
            @include grid-cell-position(3,1);
            @include grid-cell-size(1);
        }
    }

    &__decoration {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        @include color-theme('background-deco');

        @include above('s') {
            width: $m-statement-decoration-width;
        }

        .c-icon {
            position: absolute;
            top: 0;
            left: 50%;
            width: $m-statement-icon-width-mobile;
            height: $m-statement-icon-height-mobile;
            transform: translate(-50%, -50%);
            @include color-theme('blockqoute');

            @include above('m') {
                width: $m-statement-icon-width-desktop;
                height: $m-statement-icon-height-desktop;
            }

        }

    }

    #{&} &__column-1 {
        @include grid-cell-size(12);
        @include above('s') {
            @include grid-cell-position(1,1);
            @include grid-cell-size(5,1);
            align-self: end;
        }
    }

    #{&} &__column-3 {
        @include grid-cell-size(12);
        @include above('s') {
            @include grid-cell-position(7,1);
            @include grid-cell-size(6,2);
            align-self: center;
        }
    }

    #{&} &__column-4 {
        @include grid-cell-size(12);
        @include above('s') {
            @include grid-cell-position(1,2);
            @include grid-cell-size(5,1);
            align-self: start;
        }
    }

    &__heading {
        text-align: inherit;
        @include responsive-spacing($properties: margin-bottom, $spacing-map: $m-statement-element-spacings);
        &-without-quote {
            @include above('s') {
                margin-bottom: 0;
            }
        }
    }

    &__image {
        @include below('s') {
            margin-bottom: spacing('16');
        }
    }

    &__quote {
        @include responsive-font($m-statement-quote-font);
        p {
            font: inherit;
        }
    }

    &__author {
        display: block;
        @include responsive-font($m-statement-author-responsive-font);
        @include responsive-spacing($properties: margin-top, $spacing-map: $m-statement-element-spacings);
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-statement) {
        @include m-statement;
    }
    // #endregion

}
