<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
        :backgroundDecoration="true"
>

    <template v-slot:decoration>
        <div :class="element('decoration')">
            <c-icon name="quote" />
        </div>
    </template>

    <module-page>

        <module-content>

            <layout layout="l-5-1-6">

                <div class="m-statement__column-1">

                    <c-heading v-if="heading" :class="element('heading') + (!quote ? ' ' + element('heading-without-quote') : '')" v-bind="heading" />

                </div>

                <div v-if="image" class="m-statement__column-3">

                    <c-image v-bind="image" :class="element('image')" />

                </div>

                <div class="m-statement__column-4">

                    <c-text v-if="quote" :class="element('quote')" :text="quote" />

                    <cite v-if="author" :class="element('author')" v-html="author" />

                </div>

            </layout>

        </module-content>

    </module-page>

</module>
