////
///
/// Heading Styles
///
/// @group Components
///
////


.c-heading {

    // #region [Block]
    $module: &;
    display: block;
    // #endregion

    // #region [Element]
    %c-heading-elements {
        display: block;
        p {
            font: inherit;
            letter-spacing: inherit;
        }
    }

    &__headline {
        @extend %c-heading-elements;
        @include color-theme('headline');
    }

    &__overline {
        @extend %c-heading-elements;
        @include color-theme('overline',);
        @include responsive-font('overline');
    }

    &__subline {
        @extend %c-heading-elements;
        @include color-theme('copytext');
    }

    // spacing between overline & subline
    &__overline + &__subline {
        @include responsive-spacing( 'h0', margin-top, $responsive-heading-spacing-config)
    }
    // #endregion

    // #region [Modifier]

    &--h0 {
        + .c-text,
        #{$module}__overline + #{$module}__headline,
        #{$module}__headline + #{$module}__subline { @include responsive-spacing( 'h0', margin-top, $responsive-heading-spacing-config)}
    }

    &--h1 {
        + .c-text,
        #{$module}__overline + #{$module}__headline,
        #{$module}__headline + #{$module}__subline { @include responsive-spacing( 'h1', margin-top, $responsive-heading-spacing-config)}
    }

    &--h2 {
        + .c-text,
        #{$module}__overline + #{$module}__headline,
        #{$module}__headline + #{$module}__subline { @include responsive-spacing( 'h2', margin-top, $responsive-heading-spacing-config)}
    }

    &--h3 {
        + .c-text,
        #{$module}__overline + #{$module}__headline,
        #{$module}__headline + #{$module}__subline { @include responsive-spacing( 'h3', margin-top, $responsive-heading-spacing-config)}
    }

    &--h4 {
        + .c-text,
        #{$module}__overline + #{$module}__headline,
        #{$module}__headline + #{$module}__subline { @include responsive-spacing( 'h4', margin-top, $responsive-heading-spacing-config)}
    }

    &--h5 {
        + .c-text,
        #{$module}__overline + #{$module}__headline,
        #{$module}__headline + #{$module}__subline { @include responsive-spacing( 'h5', margin-top, $responsive-heading-spacing-config)}
    }

    &--h6 {
        + .c-text,
        #{$module}__overline + #{$module}__headline,
        #{$module}__headline + #{$module}__subline { @include responsive-spacing( 'h6', margin-top, $responsive-heading-spacing-config)}
    }

    .c-text + &--h0,
    .c-text + &--h1 { @include responsive-spacing( 'medium', margin-top)}
    .c-text + &--h2 { @include responsive-spacing( 'medium', margin-top)}
    .c-text + &--h3 { @include responsive-spacing( 'medium', margin-top)}
    .c-text + &--h4 { @include responsive-spacing( 'medium', margin-top)}
    .c-text + &--h5 { @include responsive-spacing( 'small', margin-top)}
    .c-text + &--h6 { @include responsive-spacing( 'small', margin-top)}

    & + .c-button,
    &#{&}--h0 + .c-button,
    &#{&}--h1 + .c-button { @include responsive-spacing( 'xsmall', margin-top)}
    &#{&}--h2 + .c-button { @include responsive-spacing( 'xsmall', margin-top)}
    &#{&}--h3 + .c-button { @include responsive-spacing( 'xsmall', margin-top)}
    &#{&}--h4 + .c-button { @include responsive-spacing( 'xsmall', margin-top)}
    &#{&}--h5 + .c-button { @include responsive-spacing( 'xxsmall', margin-top)}
    &#{&}--h6 + .c-button { @include responsive-spacing( 'xxsmall', margin-top)}
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-heading) {
        @include c-heading;
    }
    // #endregion

}
