<component :is="tag" :class="blockClasses">

    <slot name="overline">
        <component
            class="c-heading__overline"
            :class="overlineClass"
            :is="overlineTag"
            v-if="overline"
            v-bind="overlineAttrs"
            v-html="overline"
        />
    </slot>

    <slot name="headline">
        <component
            class="c-heading__headline"
            :class="headlineClass"
            :is="headlineTag"
            v-if="headline"
            v-bind="headlineAttrs"
            v-html="headline"
        />
    </slot>

    <slot name="subline">
        <component
            class="c-heading__subline"
            :class="sublineClass"
            :is="sublineTag"
            v-if="subline"
            v-bind="sublineAttrs"
            v-html="subline"
        />
    </slot>

</component>
