<portal to="afterContent">
    <transition name="transition-c-modal">
        <div @click.self="close()" v-if="show" :class="blockClasses" v-bind="$attrs" data-modal-background>
            <div :class="[element('box'), 'zoom-in']">

                <header :class="element('header')">
                    <c-button icon="close" @click.native="close()" :class="element('close')" appearance="icon" />
                </header>

                <div :class="element('content')">
                    <slot />
                </div>

            </div>
        </div>
    </transition>
</portal>
