////
///
/// c-modal
///
/// @group Components
///
////

$c-modal-background: color('overlay') !default;
$c-modal-box-padding-top: unitize(64px) !default;
$c-modal-box-padding-bottom: spacing('44') !default;
$c-modal-box-color-theme: 'modal' !default;
$c-modal-box-border-radius: unitize(5px) !default;
$c-modal-close-spacing: spacing('10') !default;

.c-modal {
    // #region [Block]
    $block: &;
    display: flex;
    position: fixed;
    z-index: zindex(999);
    inset: 0;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    background: color('overlay');
    @include above('s') {
        align-items: center;
    }

    // #endregion

    // #region [Element]
    &__box {
        display: flex;
        position: relative;
        z-index: 1;
        flex-direction: column;
        width: 100%;
        max-height: 90vh;
        max-height: 90dvh;
        overflow: hidden;
        border-top-left-radius: $c-modal-box-border-radius;
        border-top-right-radius: $c-modal-box-border-radius;
        @include color-theme($c-modal-box-color-theme);
        @include hide-scrollbar;
        @include responsive-spacing(false, padding-left padding-right, (nth(map-keys($site-area-columns), 1): map-get(map-get($site-area-columns, nth(map-keys($site-area-columns), 1)), 'page'), nth(map-keys($site-area-columns), 2): map-get(map-get($site-area-columns, nth(map-keys($site-area-columns), 2)), 'page'), nth(map-keys($site-area-columns), 3): map-get(map-get($site-area-columns, nth(map-keys($site-area-columns), 3)), 'page')));
        @include above('s') {
            width: auto;
            max-width: 90vw;
            border-radius: $c-modal-box-border-radius;
        }

    }

    &__content {
        padding-top: $c-modal-box-padding-top;
        padding-bottom: $c-modal-box-padding-bottom;
        overflow: scroll;
        @include hide-scrollbar;
    }

    &__close {
        position: absolute!important;
        z-index: zindex(100);
        top: $c-modal-close-spacing;
        right: $c-modal-close-spacing;
    }

    // #endregion

    // #region [Modifier]
    &--fullwidth {
        #{$block}__box {
            max-height: calc(100% - #{spacing('10')});
            padding-right: 0!important;
            padding-left: 0!important;
            overflow: scroll;
            @include above('s') {
                width: calc(100% - #{spacing('27')});
                max-width: none;
                max-height: calc(100% - #{spacing('27')});
            }
        }
    }
    &--fullscreen {
        #{$block}__box {
            height: 100vh;
            height: 100dvh;
            max-height: none;
            padding-right: 0!important;
            padding-left: 0!important;
            overflow: scroll;
            @include above('s') {
                width: 100vw;
                max-width: none;
                border-radius: 0;
            }
        }
    }

    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-modal) {
        @include c-modal;
    }

    // #endregion

}

.transition-c-modal {
    &-enter-active {
        transition: transition-fade-in(opacity, 230ms);
        .zoom-in {
            transition: transition-fade-in(transform, 230ms);
        }
    }
    &-leave-active {
        transition: transition-fade-in(opacity, 230ms);
        .zoom-in {
            transition: transition-fade-in(transform, 230ms);
        }
    }
    &-enter-to,
    &-fade-leave {
        opacity: 1;
        .zoom-in {
            transform: translateY(0);
        }
        @include above('s') {
            .zoom-in {
                transform: scale(1);
            }
        }
    }
    &-enter,
    &-leave-to {
        opacity: 0;
        .zoom-in {
            transform: translateY(20px);
        }
        @include above('s') {
            .zoom-in {
                transform: scale(.8);
            }
        }
    }
}
