////
///
/// l-8-4 Layout Styles
///
/// Layout with 1 column in every Viewport.
///
/// @group Layouts
///
////

.l-8-4 {

    // #region [Block]
    // #endregion

    // #region [Element]
    > * {
        @include grid-cell-size(12);
    }

    @include above('s') {

        &__column-1 {
            @include grid-cell-position(1,1);
            @include grid-cell-size(8)
        }

        &__column-2 {
            @include grid-cell-position(9,1);
            @include grid-cell-size(4)
        }

    }
    // #endregion

    // #region [Modifier]
    // #endregion

}
