<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-page>

        <module-content>

            <layout layout="l-12" v-if="heading && (heading.overline || heading.headline || heading.subline)">

                <c-heading :class="element('heading')" v-bind="heading" />

            </layout>

            <layout :class="element('items')">

                <slot>

                    <div :class="[element('item'), getColumnAlignment(column)]" v-for="(column, index) in content">

                        <component v-for="(component, index) in column.items" :key="index" :is="component.name" :alignment="component.name === 'c-heading' ? column.alignment : null" v-bind="component.data.props">
                            <slot v-for="(_, name) in component.slots" :name="name" :slot="name">
                                <component-loader :components="_" />
                            </slot>
                        </component>

                    </div>

                </slot>

            </layout>

        </module-content>

    </module-page>

</module>
