////
///
/// m-multicolumn
///
/// @group Modules
///
////

$m-multicolumn-columns: (2, 3, 4, 6) !default;
$m-multicolumn-item-row-gutter: '44' !default;
$m-multicolumn-item-component-spacing: 'xxsmall' !default;

.m-multicolumn {

    // #region [Block]
    $module: &;
    // #endregion

    // #region [Element]

    &__heading {
        @include responsive-heading-spacing();
    }

    &__items {
        margin-bottom: spacing($m-multicolumn-item-row-gutter) * -1;
    }

    &__item {
        align-self: flex-start;
        margin-bottom: spacing($m-multicolumn-item-row-gutter);
        @include grid-cell-size(12,1);

        > * + * {
            @include responsive-spacing('xxsmall', margin-top);
        }

        > .c-button, > .c-button-modal, > .c-button-audio {
            @include responsive-spacing('xsmall', margin-top);
        }

        &--align-left {
            text-align: left;
            > .c-button, > .c-button-modal, > .c-button-audio {
                margin-right: spacing('20');
            }
            @include rtl() {
                text-align: right;
                > .c-button, > .c-button-modal, > .c-button-audio {
                    margin-left: spacing('20');
                }
            }
        }

        &--align-center {
            text-align: center;
            > .c-button, > .c-button-modal, > .c-button-audio {
                margin-right: spacing('10');
                margin-left: spacing('10');
            }
        }

        &--align-right {
            text-align: right;
            > .c-button, > .c-button-modal, > .c-button-audio {
                margin-left: spacing('20');
            }
            @include rtl() {
                text-align: left;
                > .c-button, > .c-button-modal, > .c-button-audio {
                    margin-right: spacing('20');
                }
            }
        }

    }
    // #endregion

    // #region [Modifier]
    @each $columns in $m-multicolumn-columns {
        &--columns-#{$columns} {
            @include above('s') {
                #{$module}__item {
                    @include grid-cell-size(calc(12 / $columns),1);
                }
            }
        }
    }

    &--vertical-align-center {
        #{$module}__item {
            align-self: center;
        }
    }

    &--vertical-align-bottom {
        #{$module}__item {
            align-self: flex-end;
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-multicolumn) {
        @include m-multicolumn;
    }
    // #endregion

}
