////
///
/// c-button-modal
///
/// @group Components
///
////
$c-modal-button-layer-width: 60vw !default;
$c-modal-button-layer-max-width: $max-page-width !default;

.c-button-modal {
    // #region [Block]
    $module: &;
    display: inline-block;
    // #endregion

    // #region [Element]
    // #endregion

    // #region [Modifier]
    &__modal--small {
        .c-modal__box {
            @include above('s') {
                width: $c-modal-button-layer-width;
                max-width: $c-modal-button-layer-max-width;
            }
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-button-modal) {
        @include c-button-modal;
    }
    // #endregion

}
