<component :is="tag" :class="blockClasses">

    <c-button v-bind="$attrs" @click.native.prevent="openModal()" />

    <c-modal ref="modal" :additionalClasses="text ? elementModifier('modal', 'small') : null" :fullscreen="fullscreen" :fullwidth="!text ? true : fullwidth">

        <c-heading v-if="heading" v-bind="heading" />

        <c-text v-if="text" :text="text" />

        <component-loader v-else v-for="(nugget, index) in nuggets" :key="index" :components="nugget" />

    </c-modal>

</component>
