////
///
/// c-checklist
///
/// @group Components
///
////

$c-checklist-border-width: unitize(1px) !default;
$c-checklist-color-theme: 'table' !default;
$c-checklist-item-spacing: spacing('27') 0 !default;
$c-checklist-item-border-color: rgba(color('disabled-selected'), .33) !default;
$c-checklist-icon-size: unitize(24px) !default;
$c-checklist-icon-margin: 0 spacing('16') 0 0 !default;
$c-checklist-icon-color-theme: 'icon' !default;
$c-checklist-text-responsive-fontsize: 'h6' !default;
$c-checklist-text-line-height: unitize(20px) !default;

.c-checklist {
    // #region [Block]
    padding: 0;
    border-top-width: $c-checklist-border-width;
    border-bottom-width: $c-checklist-border-width;
    border-top-style: solid;
    border-bottom-style: solid;
    @include color-theme($c-checklist-color-theme);
    // #endregion

    // #region [Element]
    &__item {
        display: flex;
        align-items: flex-start;
        padding: $c-checklist-item-spacing;
        border-top: $c-checklist-border-width solid $c-checklist-item-border-color;
        list-style: none;
        &:first-child {
            border-top-width: 0;
        }
    }
    &__icon {
        display: block;
        flex-shrink: 0;
        width: $c-checklist-icon-size;
        height: $c-checklist-icon-size;
        margin: $c-checklist-icon-margin;
        @include color-theme($c-checklist-icon-color-theme);
        svg {
            display: block;
            width: inherit;
            height: inherit;
        }
    }
    &__text {
        display: block;
        margin-top: unitize(2px);
        @include responsive-font($c-checklist-text-responsive-fontsize, false, false, $c-checklist-text-line-height);
        p {
            font: inherit;
        }
        a {
            transition: transition-fade-in(all);
            text-decoration: none;
            @include color-theme('link');
        }
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-checklist) {
        @include c-checklist;
    }
    // #endregion

}
