<component :is="tag" :class="blockClasses">
    <li :class="element('item')" v-for="(item, index) in items" :key="index">
        <span :class="element('icon')">
            <slot name="icon">
                <c-icon name="check" />
            </slot>
        </span>
        <span :class="element('text')" v-html="item" />
    </li>
</component>
