////
///
/// c-input-dropdown
///
/// @group Components
///
////

$c-input-dropdown-responsive-font: 'form-text' !default;
$c-input-dropdown-responsive-small-font: 'form-label' !default;
$c-input-dropdown-content-max-width: unitize(375px) !default;
$c-input-dropdown-content-max-height: unitize(300px) !default;
$c-input-dropdown-horizontal-padding: spacing('16') !default;
$c-input-dropdown-vertical-padding: spacing('10') !default;
$c-input-dropdown-entry-vertical-padding: spacing('10') !default;
$c-input-dropdown-tag-vertical-padding: spacing('6') !default;
$c-input-dropdown-tag-vertical-margin--underlined: spacing('3') !default;
$c-input-dropdown-border-width--underlined: unitize(1px) !default;
$c-input-dropdown-border-width--boxed: 1px !default;
$c-input-dropdown-border-radius: $basic-border-radius!default;

.c-input-dropdown {
    // #region [Block]
    $module: &;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    // #endregion

    // #region [Element]
    &__label {
        display: block;
        width: 100%;
        cursor: text;
        user-select: none;
        @include responsive-font($c-input-dropdown-responsive-small-font);
        span {
            font: inherit;
        }
    }

    &__caret {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        transition: transition-fade-in(transform);
        svg {
            display: block;
        }
    }

    .multiselect {
        order: 2;
        width: 100%;
        min-width: unitize(100px);
        min-height: 0;
        transition: transition-fade-in(border-color);
        @include responsive-font($c-input-dropdown-responsive-font);

        * {
            min-height: 0;
            background: transparent;
            color: inherit;
            font: inherit;
            cursor: pointer;
        }

        &__tags {
            border-color: inherit;
        }

        &__input, &__single {
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border-color: inherit;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__tags-wrap {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            overflow: hidden;
            overflow-x: scroll;
            overflow-y: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__tag {
            display: block;
            position: relative;
            flex-shrink: 0;
            margin: 0 0 0 spacing('6');
            padding: $c-input-dropdown-tag-vertical-padding unitize(35px) $c-input-dropdown-tag-vertical-padding spacing('10');
            overflow: hidden;
            border-color: inherit;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:first-child {
                margin-left: 0;
            }
        }

        &__remove {
            display: block;
            position: absolute;
            top: 50%;
            right: spacing('10');
            width: unitize(15px);
            height: unitize(15px);
            margin: 0;
            transform: translate(0, -50%);
            svg {
                display: block;
                width: inherit;
                height: inherit;
            }
        }

        &__placeholder {
            display: block!important;
            margin: 0;
            padding: 0;
            opacity: 1;
            &:after {
                content: "\00a0";
                display: inline-block;
                width: 0px;
                @include responsive-font($c-input-dropdown-responsive-font);
            }
        }

        &--disabled {
            opacity: 1;
            background: transparent;
        }

        &__content-wrapper {
            left: 0;
            width: auto;
            min-width: 100%;
            max-width: $c-input-dropdown-content-max-width;
            max-height: none!important;
            overflow: hidden;
            border-radius: $c-input-dropdown-border-radius;
        }

        &__content {
            width: 100%;
            max-height: $c-input-dropdown-content-max-height;
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__option {
            width: 100%;
            padding: 0;
            span {
                display: block;
                width: 100%;
                padding: $c-input-dropdown-entry-vertical-padding $c-input-dropdown-horizontal-padding;
                overflow: hidden;
                transition: transition-fade-in(color);
                text-overflow: ellipsis;
                word-break: keep-all;
                white-space: normal;
            }
            &--highlight {
                background: transparent!important;
            }
        }

        &--active {
            #{$module}__caret {
                transform: translate(0, -50%) rotate(180deg);
            }
        }

    }

    &--multiple {
        .multiselect__placeholder {
            padding: $c-input-dropdown-tag-vertical-padding 0;
        }
    }

    &--auto-width {
        .multiselect {
            width: auto;
        }
    }

    // #endregion

    // #region [Modifier]
    &--underlined {

        .multiselect {
            padding: $c-input-dropdown-vertical-padding 0;
            @include color-theme('dropdown-underlined');

            &__tags {
                padding: 0 unitize(30px) 0 0;
                border-width: 0;
                border-bottom-width: $c-input-dropdown-border-width--underlined;
                border-style: solid;
                border-radius: 0;
            }

            &__tags-wrap {
                margin-bottom: $c-input-dropdown-tag-vertical-margin--underlined;
            }

            &__content-wrapper {
                z-index: -1;
                top: 0;
                left: $c-input-dropdown-horizontal-padding * -1;
                min-width: calc(100% + #{$c-input-dropdown-horizontal-padding} + #{$c-input-dropdown-horizontal-padding});
                @include color-theme('dropdown-underlined-content');
                &:before {
                    content: "\00a0";
                    display: block;
                    width: 100%;
                    padding: $c-input-dropdown-vertical-padding 0;
                    @include responsive-font($c-input-dropdown-responsive-font);
                }
            }

            &:after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                right: $c-input-dropdown-horizontal-padding * -1;
                bottom: 0;
                left: $c-input-dropdown-horizontal-padding * -1;
                border-radius: $c-input-dropdown-border-radius;
                background: transparent;
                transition: transition-fade-in(all);
            }

            &--active {
                &:after {
                    opacity: 0;
                }
            }

        }

        &#{$module}--multiple {
            .multiselect {
                &__content-wrapper {
                    &:before {
                        padding: ($c-input-dropdown-vertical-padding + $c-input-dropdown-tag-vertical-padding) 0;
                    }
                }
                &__placeholder {
                    margin-bottom: $c-input-dropdown-tag-vertical-margin--underlined;
                }
            }
        }
    }

    &--boxed {

        #{$module}__caret {
            right: spacing('10');
        }

        .multiselect {
            @include color-theme('dropdown-boxed');

            &__tags {
                padding: $c-input-dropdown-vertical-padding unitize(46px) $c-input-dropdown-vertical-padding $c-input-dropdown-horizontal-padding;
                border-width: $c-input-dropdown-border-width--boxed;
                border-style: solid;
                border-radius: $c-input-dropdown-border-radius!important;
            }

            &__content-wrapper {
                top: calc(100% + #{unitize(3px)});
                transition: transition-fade-in(all);
                border-width: $c-input-dropdown-border-width--boxed;
                border-style: solid;
                @include color-theme('dropdown-boxed-content');
            }

            &:after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: $c-input-dropdown-border-radius;
                opacity: 1;
                background: transparent;
                transition: transition-fade-in(background);
            }

        }

        &#{$module}--error {
            .multiselect--active, .multiselect--active:hover, .multiselect:hover {
                &:after {
                    background: transparent!important;
                }
            }
        }
    }

    &.error {
        .multiselect {
            &__input, &__single, &__placeholder, &__tags, svg {
                border-color: color('error');
                color: color('error');
            }
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-input-dropdown) {
        @include c-input-dropdown;
    }
    // #endregion

}
