<component :is="tag" :class="blockClasses">

    <multiselect
        :class="element('dropdown')"
        v-model="value"
        v-on="$listeners"
        v-bind="$attrs"
        :label="optionsLabel"
        :allowEmpty="allowEmpty"
        :options="options"
        :showLabels="showLabels"
        :searchable="searchable"
        :multiple="multiple"
        :preselectFirst="preselectFirst"
        :placeholder="placeholder"
        :closeOnSelect="closeOnSelect"
        :showNoResults="showNoResults"
        openDirection="bottom"
    >
        <template v-slot:caret="scopedSlot">
            <span :class="element('caret')">
                <c-icon name="arrowDropDown" />
            </span>
        </template>

        <template v-slot:tag="scopedSlot">
            <span class="multiselect__tag">
                <span v-text="scopedSlot.option"></span>
                <span aria-hidden="true" tabindex="1" @keypress.enter.prevent="scopedSlot.remove(scopedSlot.option)"  @mousedown.prevent="scopedSlot.remove(scopedSlot.option)"  class="multiselect__remove">
                   <c-icon name="close"  />
                </span>
            </span>
        </template>

        <template v-slot:noResult>
            <slot name="noResult">&nbsp;</slot>
        </template>

        <template v-slot:noOptions>
            <slot name="noOptions">&nbsp;</slot>
        </template>

        <template v-slot:maxElements>
            <slot name="maxElements">&nbsp;</slot>
        </template>

    </multiselect>

    <span :class="element('label')" v-if="label || slotHasContent('label')">
        <slot name="label"><span v-html="label" /></slot>
    </span>

    <input type="hidden" :name="name" :value="getDropdownValue">

</component>
