////
///
/// l-3-1-8 Layout Styles
///
/// @group Layouts
///
////

.l-3-1-8 {

    // #region [Block]
    // #endregion

    // #region [Element]
    > * {
        @include grid-cell-size(12);
    }

    @include above('s') {

        &__column-1 {
            @include grid-cell-position(1,1);
            @include grid-cell-size(3)
        }

        &__column-2 {
            @include grid-cell-position(4,1);
            @include grid-cell-size(1)
        }

        &__column-3 {
            @include grid-cell-position(5,1);
            @include grid-cell-size(8)
        }

    }
    // #endregion

    // #region [Modifier]
    // #endregion

}
