////
///
/// c-table
///
/// @group Components
///
////

$c-table-border-width: unitize(1px) !default;
$c-table-color-theme: 'table' !default;
$c-table-line-height: unitize(20px);
$c-table-th-responsive-fontsize: 'h6' !default;
$c-table-td-padding: spacing('27') !default;
$c-table-td-border-color: rgba(color('disabled-selected'), .33) !default;
$c-table-td-responsive-fontsize: 'copytext--small' !default;

$c-table-td-min-width-mobile: 35vw !default;
$c-table-td-min-width-tablet: 20vw !default;
$c-table-td-min-width-desktop: unitize(100px) !default;

/// Internal
/// Workaround für border-spacing of the table
$_c-table-spacing-value: spacing('20');

.c-table {
    // #region [Block]
    $module: &;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    // #endregion

    // #region [Element]

    &__scroll {
        display: inline-flex;
        min-width: 100%;
        overflow: hidden;
    }

    table {
        width: calc(100% + #{$_c-table-spacing-value * 2});
        margin: 0 ($_c-table-spacing-value * -1);
        border-spacing: $_c-table-spacing-value 0;
        border-collapse: separate;
        border-bottom-width: $c-table-border-width;
        border-bottom-style: solid;
        @include color-theme($c-table-color-theme);
    }

    thead {
        td {
            min-width: 0;
            padding: 0;
            border-top: 0;
            border-bottom-width: $c-table-border-width;
            border-bottom-style: solid;
            @include color-theme($c-table-color-theme);
        }
    }

    th {
        padding: 0 0 $c-table-td-padding;
        @include responsive-font($c-table-th-responsive-fontsize, false, false, $c-table-line-height);
        p, span {
            font: inherit;
        }
    }

    td {
        min-width: $c-table-td-min-width-mobile;
        padding: $c-table-td-padding 0;
        border-top: $c-table-border-width solid $c-table-td-border-color;
        @include responsive-font($c-table-td-responsive-fontsize, false, false, $c-table-line-height);
        @include above('s') {
            min-width: $c-table-td-min-width-tablet;
        }
        @include above('l') {
            min-width: $c-table-td-min-width-desktop;
        }
    }

    tr {
        &:first-child {
            td {
                border-top-width: 0;
            }
        }
    }

    a {
        transition: transition-fade-in(all);
        text-decoration: none;
        @include color-theme('link');
    }

    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-table) {
        @include c-table;
    }
    // #endregion

}
