<div :class="blockClasses">
    <div :class="element('scroll')">
        <table>
            <slot>
                <thead>
                <tr>
                    <th :class="['text-align-' + cell.align, 'text-valign-' + cell.valign]" v-for="(cell, cellindex) in rows[0]" :key="cellindex" v-html="cell.content" />
                </tr>
                <tr>
                    <td :colspan="rows[0].length"></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(row, rowindex) in rows.slice(1)" :key="rowindex">
                    <td :class="['text-align-' + cell.align, 'text-valign-' + cell.valign]" v-for="(cell, cellindex) in row" :key="cellindex" v-html="cell.content" />
                </tr>
                </tbody>
            </slot>
        </table>
    </div>
</div>
