////
///
/// m-ab-slider
///
/// @group Modules
///
////

.m-ab-slider {
    // #region [Block]
    // #endregion

    // #region [Element]
    &__heading {
        @include responsive-heading-spacing();
    }

    > .module__background {
        @include grid-cell-height(2);
    }

    #{&}__module + #{&}__module {
        @include grid-cell-row-start(2);
    }

    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-ab-slider) {
        @include m-ab-slider;
    }
    // #endregion

}
