<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-content :class="element('module')" v-if="heading && (heading.overline || heading.headline || heading.subline)">

        <layout layout="l-12">

            <template v-slot:column-1>

                <c-heading :class="element('heading')" v-bind="heading" />

            </template>

        </layout>

    </module-content>

    <component :class="element('module')" :is="'module-' + layoutArea">

        <layout layout="l-12">

            <template v-slot:column-1>

                <c-ab-slider v-bind="abslider" />

            </template>

        </layout>

    </component>

</module>
