////
///
/// c-input-range
///
/// @group Components
///
////

$c-input-range--height: unitize(44px);
$c-input-range--small-track-height: unitize(4px);

.c-input-range {
    $block: &;

    // #region [Block]
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 132px;
    min-height: $c-input-range--height;
    border-width: 0 calc($c-input-range--height / 2);
    border-style: solid;
    border-radius: calc($c-input-range--height / 2);
    outline: none;
    user-select: none;
    background-clip: padding-box;
    @include color-theme('range');
    // #endregion

    // #region [Element]
    &__track {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $c-input-range--height;
        cursor: pointer;
    }

    &__fill {
        position: absolute;
        color: inherit;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transition-appear(background-color);
    }

    &__knob {
        position: absolute;
        height: $c-input-range--height;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        top:50%;
        left: 0;
        width: $c-input-range--height;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        line-height: unitize(40px);
        cursor: grab;
        @include color-theme('range-knob');
        transition: transition-appear(background-color);
    }
    // #endregion

    // #region [Modifier]

    &--filled {
        border-left-color: currentColor!important;
        #{$block}__fill {
            background-color: currentColor;
        }
    }

    &--size-small {
        margin: calc(($c-input-range--height - $c-input-range--small-track-height) / 2) 0;
        height: $c-input-range--small-track-height;
        min-height: $c-input-range--small-track-height;
        #{$block}__track {
            height: $c-input-range--small-track-height;
        }
    }

    &--disabled  {
        @include color-theme('range:disabled');

        #{$block}__track,
        #{$block}__fill {
            cursor: not-allowed;
        }

        #{$block}__knob {
            @include color-theme('range-knob:disabled');
            cursor: not-allowed;
        }

    }

    &--dragging  {
        &:not(.c-input-range--disabled){
            #{$block}__knob {
                @include color-theme('range-knob:active');
                cursor: grabbing;
            }
        }
    }

    &:not(.c-input-range--disabled){
        &:hover {
            #{$block}__knob {
                @include color-theme('range-knob:hover');
            }
        }

        &:focus {
            #{$block}__knob {
                @include color-theme('focus');
            }
        }

        &:active {
            #{$block}__knob {
                @include color-theme('range-knob:active');
                cursor: grabbing;
            }
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-input-range) {
        @include c-input-range;
    }
    // #endregion

}
