<component
    :is="tag"
    :class="blockClasses"
    :tabindex="disabled ? -1 : 0"
    @keydown.up.exact.prevent="increaseStep(1)"
    @keydown.right.exact.prevent="increaseStep(1)"
    @keydown.left.exact.prevent="decreaseStep(1)"
    @keydown.down.exact.prevent="decreaseStep(1)"
    @keydown.shift.up.exact="increaseStep(10)"
    @keydown.shift.right.exact="increaseStep(10)"
    @keydown.shift.left.exact="decreaseStep(10)"
    @keydown.shift.down.exact="decreaseStep(10)"
>
    <span :class="element('track')" ref="track" role="presentation">
        <span
            :class="element('fill')"
            :style="fillStyle"
            ref="fill"
        />
    </span>
    <span
        :class="element('knob')"
        :style="knobStyle"
        ref="knob"
        :aria-valuemin="min"
        :aria-valuemax="max"
        :aria-valuenow="computedValue"
        role="slider"
    >
        <c-icon name="code" />
    </span>
</component>
