////
///
/// Text Styles
///
/// @group Components
///
////

.c-text {

    // #region [Block]
    $module: &;
    display: block;
    // #endregion

    // #region [Element]

    & + * {
        @include responsive-spacing( 'small', margin-top)
    }

    .h0 {
        & + * { @include responsive-spacing( 'h0', margin-top, $responsive-heading-spacing-config)}
    }

    h1, .h1 {
        & + * { @include responsive-spacing( 'h1', margin-top, $responsive-heading-spacing-config)}
    }

    h2, .h2 {
        & + * { @include responsive-spacing( 'h2', margin-top, $responsive-heading-spacing-config)}
    }

    h3, .h3 {
        & + * { @include responsive-spacing( 'h3', margin-top, $responsive-heading-spacing-config)}
    }

    h4, .h4 {
        & + * { @include responsive-spacing( 'h4', margin-top, $responsive-heading-spacing-config)}
    }

    h5, .h5 {
        & + * { @include responsive-spacing( 'h5', margin-top, $responsive-heading-spacing-config)}
    }

    h6, .h6 {
        & + * { @include responsive-spacing( 'h6', margin-top, $responsive-heading-spacing-config)}
    }

    p, address, ul, ol, dl {
        & + * { @include responsive-spacing( 'tiny', margin-top)}
        & + h1, & + .h1, & + .h0 { @include responsive-spacing( 'medium', margin-top)}
        & + h2, & + .h2 { @include responsive-spacing( 'medium', margin-top)}
        & + h3, & + .h3 { @include responsive-spacing( 'medium', margin-top)}
        & + h4, & + .h4 { @include responsive-spacing( 'medium', margin-top)}
        & + h5, & + .h5 { @include responsive-spacing( 'small', margin-top)}
        & + h6, & + .h6 { @include responsive-spacing( 'small', margin-top)}
        & + address, & + ul, & + ol, & + dl { @include responsive-spacing( 'xtiny', margin-top)}
    }

    ul, ol, dl {
        li + li { @include responsive-spacing( 'xtiny', margin-top)}
    }

    a {
        transition: transition-fade-in(all);
        text-decoration: none;
        @include color-theme('link');
    }

    // #endregion

    // #region [Modifier]
    &--columns {
        column-gap: _get-grid-data('column-gutter');

        @for $column from 1 through _get-grid-data('columns') {
            &-#{$column} {
                @include above('s') {
                    column-count: $column;
                }
            }
        }

    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-text) {
        @include c-text;
    }
    // #endregion

}
