////
///
/// m-hotspot
///
/// @group Modules
///
////

$m-hotspot-spot-background-front: rgba(3, 116, 255, 0.25) !default;
$m-hotspot-spot-background-back: rgba(255, 255, 255, 0.50) !default;

.m-hotspot {
    // #region [Block]
    // #endregion

    // #region [Element]
    &__heading {
        @include responsive-heading-spacing();
    }

    &__wrapper {
        position: relative;
    }

    &__hotspot {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: unitize(44px);
        height: unitize(44px);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        @include color-theme('hotspot');

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: hotspot-pulse 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
            border-radius: inherit;
            background: linear-gradient($m-hotspot-spot-background-front, $m-hotspot-spot-background-front) no-repeat 0 0, rgba(0, 0, 0, 0) linear-gradient($m-hotspot-spot-background-back, $m-hotspot-spot-background-back) no-repeat 0 0;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 27.27%;
            height: 27.27%;
            transform: translate(-50%, -50%);
            transition: all $default-animation-duration;
            transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
            border-radius: inherit;
        }
        &:hover {
            &:after {
                width: 77.27%;
                height: 77.27%;
            }
        }
    }

    > .module__background {
        @include grid-cell-height(2);
    }

    #{&}__module + #{&}__module {
        @include grid-cell-row-start(2);
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-hotspot) {
        @include m-hotspot;
    }
    // #endregion
}

@keyframes hotspot-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
