<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-content :class="element('module')" v-if="(heading && (heading.overline || heading.headline || heading.subline))">

        <layout layout="l-12">

            <template v-slot:column-1>

                <c-heading :class="element('heading')" v-bind="heading" />

            </template>

        </layout>

    </module-content>

    <component :class="element('module')" :is="'module-' + layoutArea">

        <layout :layout="layout">

            <template v-slot:[getSlotName]>

                <div :class="element('wrapper')">

                    <c-image v-bind="image" v-on="$listeners" />

                    <a v-for="(hotspot, index) in hotspots"
                       :key="index"
                       :class="element('hotspot')"
                       :style="getPositionAttribute(hotspot)"
                       @click="openModal(hotspot)"
                       role="button"
                       href="javascript:void(0);">
                    </a>

                    <c-modal ref="modal" :additionalClasses="modalContent.text ? elementModifier('modal', 'small') : undefined" :fullwidth="!modalContent.text ? true : undefined">

                        <c-heading v-if="modalContent.heading" v-bind="modalContent.heading" />

                        <c-text v-if="modalContent.text" :text="modalContent.text"/>

                        <component-loader v-else :components="modalContent.nuggets"/>

                    </c-modal>

                </div>

            </template>

        </layout>

    </component>

</module>
