////
///
/// l-4-1-7 Layout Styles
///
/// @group Layouts
///
////

.l-4-1-7 {

    // #region [Block]
    // #endregion

    // #region [Element]
    > * {
        @include grid-cell-size(12);
    }

    @include above('s') {

        &__column-1 {
            @include grid-cell-position(1,1);
            @include grid-cell-size(4)
        }

        &__column-2 {
            @include grid-cell-position(5,1);
            @include grid-cell-size(1)
        }

        &__column-3 {
            @include grid-cell-position(6,1);
            @include grid-cell-size(7)
        }

    }
    // #endregion

    // #region [Modifier]
    // #endregion

}
