<transition-expand>
    <div :class="blockClasses" v-if="message">
        <div :class="element('box')">
            <slot>
                <div v-html="message" />
            </slot>
        </div>
    </div>
</transition-expand>

