////
///
/// c-message
///
/// @group Components
///
////

$c-message-box-padding: spacing('27') !default;
$c-message-box-border-radius: unitize(5px) !default;
$c-message-box-font: 'copytext' !default;
$c-message-box-color-theme: 'background-deco' !default;
$c-message-box-element-spacings: 'small' !default;
$c-message-box-background--error: color('error') !default;
$c-message-box-color--error: color('white') !default;

.c-message {
    // #region [Block]
    display: block;
    // #endregion

    // #region [Element]
    &__box {
        display: block;
        padding: $c-message-box-padding;
        border-radius: $c-message-box-border-radius;
        @include responsive-font($c-message-box-font);
        @include color-theme($c-message-box-color-theme);
        @include responsive-spacing($c-message-box-element-spacings, margin-bottom);
    }
    // #endregion

    // #region [Modifier]
    &--error &__box{
        background: $c-message-box-background--error!important;
        color: $c-message-box-color--error!important;
    }

    &.expand {
        &-enter-active {
            transition: transition-appear(all, 500ms);
        }
        &-leave-active {
            transition: transition-disappear(all, 500ms);
        }
        &-enter, &-leave-to {
            opacity: 0;
        }
    }

    a {
        transition: transition-fade-in(all);
        text-decoration: none;
        @include color-theme('link');
    }

    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-message) {
        @include c-message;
    }
    // #endregion

}
