<component :is="tag" :class="blockClasses">

    <label :class="element('label')">

        <slot name="input">
            <input
                v-model="value"
                v-on="$listeners"
                v-bind="$attrs"
                :inputmode="$attrs.inputmode ? $attrs.inputmode : $attrs.type === 'number' ? 'decimal' : null"
                :class="[element('form-element'), (!valid ? 'error' : '')]"
                :aria-label=label
                @keydown="checkValue($event)"
                @change="setValue($event)"
            >
        </slot>

        <span :class="element('label-text')" v-if="label || slotHasContent('label')">
            <slot name="label"><span v-html="label" /></slot>
        </span>

        <span :class="element('prefix')" v-if="prefix || slotHasContent('prefix')">
            <slot name="prefix"><span v-html="prefix" /></slot>
        </span>

        <span :class="element('suffix')" v-if="suffix || slotHasContent('suffix')">
            <slot name="suffix"><span v-html="suffix" /></slot>
        </span>

    </label>

    <slot />

</component>
