////
///
/// c-input-text
///
/// @group Components
///
////

$c-input-text-responsive-font: 'form-text' !default;
$c-input-text-responsive-small-font: 'form-label' !default;
$c-input-text-border-width: unitize(2px) !default;
$c-input-text-border-width--boxed: 1px !default;
$c-input-text-border-radius: $basic-border-radius!default;
$c-input-text-placeholder-opacity: .25 !default;

.c-input-text {
    // #region [Block]
    $module: &;
    position: relative;
    @include responsive-font($c-input-text-responsive-font);

    &:before {
        content: "\00a0";
        display: block;
        width: 100%;
        @include responsive-font($c-input-text-responsive-small-font);
    }
    // #endregion

    // #region [Element]
    &__label {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        position: relative;
    }

    &__label-text {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        cursor: text;
        user-select: none;
        background: transparent!important;
        @include responsive-font($c-input-text-responsive-small-font);
        span {
            font: inherit;
        }
    }

    &__form-element {
        display: block;
        flex-grow: 5;
        flex-shrink: 5;
        width: 100%;
        order: 2;
        margin: 0;
        padding: 0;
        border-width: 0;
        border-style: solid;
        border-radius: 0;
        outline: none;
        background: transparent;
        font: inherit;
        cursor: text;

        /// Workaround for the undeletable background-color
        /// of the chrome password manager
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:active,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:first-line {
            -webkit-box-shadow: 0 0 0 1000px transparent inset!important;
            -webkit-background-clip: text!important;
            font: inherit!important;
        }

        &::placeholder{
            opacity: $c-input-text-placeholder-opacity;
            color: inherit;
        }
        &::-webkit-input-placeholder{
            opacity: $c-input-text-placeholder-opacity;
            color: inherit;
        }
        &::-moz-placeholder {
            opacity: $c-input-text-placeholder-opacity;
            color: inherit;
        }
        &::-ms-input-placeholder {
            opacity: $c-input-text-placeholder-opacity;
            color: inherit;
        }

        &[disabled] {
            cursor: default;
            & + #{$module}__label-text {
                cursor: default;
            }
        }

        &[type="password"] {
            font: small-caption;
            font-size: unitize(24px);
        }

        &[type="number"] {
            -moz-appearance:textfield;
            appearance: textfield;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

    }

    &__prefix, &__suffix {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        order: 1;
        padding: 0 spacing('10') 0 0;
        font: inherit;
        span {
            font: inherit;
        }
    }

    &__suffix {
        order: 3;
        padding: 0 0 0 spacing('10');
    }
    // #endregion

    // #region [Modifier]
    &--underlined {

        @mixin input-label-text-behaviour {
            & + #{$module}__label-text {
                bottom: 100%;
                transform: translate( 0, 0 );
                @include responsive-font($c-input-text-responsive-small-font);
            }
        }

        #{$module} {

            &__label-text {
                bottom: 50%;
                transform: translate( 0, 50% );
                transition: transition-fade-in(all);
                @include responsive-font($c-input-text-responsive-font);
            }

            &__form-element {
                padding: spacing('3') 0;
                border-bottom-width: $c-input-text-border-width;
                transition: transition-fade-in(border-color);
                @include color-theme('input-underlined');

                // Splitted this styling to prevent a firefox bug.
                // Firefox ignore the complete line when autofilled if set
                &:not([value=""]), &:focus {
                    @include input-label-text-behaviour;
                }

                &:-webkit-autofill {
                    @include input-label-text-behaviour;
                }
            }
        }

        &#{$module}--prefix {
            #{$module}__form-element {
                @include input-label-text-behaviour;
            }
        }
    }

    &--boxed {
        #{$module} {
            &__form-element {
                padding: spacing('10') spacing('16');
                border-width: $c-input-text-border-width--boxed;
                border-radius: $c-input-text-border-radius;
                transition: transition-fade-in(all);
                @include color-theme('input-boxed');
            }

            &__prefix, &__suffix {
                padding: spacing('10') spacing('10');
                border: 1px solid transparent;
                border-top-left-radius: $c-input-text-border-radius;
                border-bottom-left-radius: $c-input-text-border-radius;
                transition: transition-fade-in(all);
            }

            &__suffix {
                border-top-right-radius: $c-input-text-border-radius;
                border-bottom-right-radius: $c-input-text-border-radius;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &#{$module}--prefix {
            #{$module}__form-element {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0;
            }
        }
        &#{$module}--suffix {
            #{$module}__form-element {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: 0;
            }
        }

    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-input-text) {
        @include c-input-text;
    }
    // #endregion

}
