////
///
/// l-10-2 Layout Styles
///
/// Layout with 1 column in every Viewport.
///
/// @group Layouts
///
////

.l-10-2 {

    // #region [Block]
    // #endregion

    // #region [Element]
    > * {
        @include grid-cell-size(12);
    }

    @include above('s') {

        &__column-1 {
            @include grid-cell-position(1,1);
            @include grid-cell-size(10)
        }

        &__column-2 {
            @include grid-cell-position(11,1);
            @include grid-cell-size(2)
        }

    }
    // #endregion

    // #region [Modifier]
    // #endregion

}
