////
///
/// m-drag-slider
///
/// @group Modules
///
////

.m-drag-slider {
    // #region [Block]
    $block: &;
    // #endregion

    // #region [Element]
    &__heading {
        @include responsive-heading-spacing();
    }

    > .module__background {
        @include grid-cell-height(2);
    }

    #{&}__module + #{&}__module {
        @include grid-cell-row-start(2);
    }


    &__image-wrapper {
        position: relative;
    }

    &__image.c-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.0001;
        &:first-of-type {
            position: relative;
        }
    }

    &__image--shown.c-image {
        opacity: 1;
    }

    &__dragger.c-input-range {
        position: relative;
        width: 80%;
        left: 50%;
        margin-top: spacing('44');
        margin-right: auto;
        margin-left:auto;
        max-width: unitize(530px);
        transform: translateX(-50%);
        @include above('s') {
            position: absolute;
            bottom: spacing('20');
            margin-top: spacing('10');
            margin-right: spacing('27');
            margin-left:spacing('27');
        }
    }


    // #endregion

    // #region [Modifier]
    &--transition-crossFade {
        #{$block}__image.c-image {
            transition: transition-appear(opacity);
        }
    }

    &--draggable {
        #{$block}__image.c-image {
            cursor: grab;
        }
    }

    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-drag-slider) {
        @include m-drag-slider;
    }
    // #endregion

}
