<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>


    <module-content :class="element('module')" v-if="heading && (heading.overline || heading.headline || heading.subline)">

        <layout layout="l-12">

            <template v-slot:column-1>

                <c-heading :class="element('heading')" v-bind="heading" />

            </template>

        </layout>

    </module-content>

    <component :class="element('module')" :is="'module-' + layoutArea">

        <div :class="element('image-wrapper')" ref="images">

            <c-image :class="[element('image'), activeSlide === index ? element('image--shown') : null]" v-for="(image, index) in images" :key="index" v-bind="image" />

            <c-input-range :class="element('dragger')" :max="images.length - 1" :value="activeSlide" :size="'small'" :filled="false" @input="setActiveSlide" />

        </div>

    </component>


</module>
