@mixin skeleton() {
    &::before {
        content: '';
        position: absolute;
        z-index: zindex(300);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: transition(opacity);
        animation: skeletonAnimation 1.4s linear infinite;
        background-size: 200% 200%;
        pointer-events: none;
        @include color-theme('skeleton');
    }

    &--hide::before {
        opacity: 0;
    }
}
