////
///
/// m-anchor-navigation
///
/// @group Modules
///
////

.m-anchor-navigation {
    // #region [Block]
    $module: &;
    // #endregion

    // #region [Element]
    > #{$module}__wrapper {
        position: relative;

        @include above('m') {
            @include grid-cell-position(3, 1);
            @include grid-cell-size(1);
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            @include color-theme('anchor-navigation-border');
        }
    }

    &__list {
        display: flex;
        align-items: center;
        padding-left: 0;
        overflow: scroll;
        list-style: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &:before, &:after {
            content:'';
            flex:1;
        }
    }
    &__link {
        display: block;
        position: relative;
        margin: 0 spacing('20') spacing('10');
        padding: spacing('6') spacing('3');
        transition: transition-fade-in(all);
        white-space: nowrap;
        @include responsive-font('h6');
        @include color-theme('anchor-navigation-link');
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: calc(100% + 8px);
            left: 0;
            width: 100%;
            height: 2px;
            transition: transition-fade-in(all);
        }
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-anchor-navigation) {
        @include m-anchor-navigation;
    }
    // #endregion

}
