<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <div :class="element('wrapper')">

        <layout layout="l-12">

            <nav>
                <ol :class="element('list')">

                    <li v-for="(item, key) in items" :class="element('item')" :key="key">

                        <c-scrollto :class="element('link')" :target="'#' + item.id">
                            {{ item.text.headline }}
                        </c-scrollto>

                    </li>

                </ol>
            </nav>

        </layout>

    </div>

</module>
