////
///
/// m-tabs
///
/// @group Modules
///
////


.m-tabs {
    // #region [Block]
    // #endregion

    // #region [Element]

    &__heading {
        @include responsive-heading-spacing();
    }

    > .module__background {
        @include grid-cell-height(2);
    }

    #{&}__module + #{&}__module {
        @include grid-cell-row-start(2);
    }

    .c-tabs {
        @include grid-areas();
    }

    .c-tabs__title-tabs {
        @include grid-cell-position(3, 1);
        @include grid-cell-size(2);
    }

    .c-tabs__content {
        @include grid-cell-position(1, 2);
        @include grid-cell-size(5);
    }

    .c-tabs__thumbnail-tabs {
        @include grid-cell-position(3, 3);
        @include grid-cell-size(1);
    }

    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-tabs) {
        @include m-tabs;
    }
    // #endregion

}
