<module :class="blockClasses"
        :background-position="backgroundPosition"
        :background-image="backgroundImage"
>

    <module-content :class="element('module')" v-if="heading && (heading.overline || heading.headline || heading.subline)">

        <layout layout="l-12">

            <template v-slot:column-1>

                <c-heading :class="element('heading')" v-bind="heading" />

            </template>

        </layout>

    </module-content>

    <module-viewport :class="element('module')">

        <c-tabs :tabs="tabs" :defaultTabIndex="defaultTabIndex" @changedTabIndex="index => this.$emit('changedTabIndex', index)">
            <slot />
        </c-tabs>

    </module-viewport>

</module>
