<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C11.4477153,22 11,21.5522847 11,21 C11,20.4477153 11.4477153,20 12,20 C16.418278,20 20,16.418278 20,12 C20,7.581722 16.418278,4 12,4 C7.581722,4 4,7.581722 4,12 C4,13.2120923 4.2690865,14.3839289 4.78062913,15.4516768 C5.01924966,15.9497518 4.80892028,16.5469615 4.31084531,16.785582 C3.81277033,17.0242026 3.21556062,16.8138732 2.97694008,16.3157982 C2.33684985,14.9797317 2,13.5127945 2,12 C2,6.4771525 6.4771525,2 12,2 Z"></path>
  </svg>
</template>
