<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="152" height="120" viewBox="0 0 152 120">
    <path d="M30.968 120c12.6-10.93 22.694-24.364 30.284-40.304 7.59-15.939 11.386-30.74 11.386-44.402V0H20.266v38.482C19.81 60.342 13.055 81.518 0 102.012L30.968 120zm79.013 0c12.6-10.93 22.695-24.364 30.285-40.304 7.59-15.939 11.385-30.74 11.385-44.402V0H99.279v38.482c-.455 21.86-7.21 43.036-20.266 63.53L109.981 120z"></path>
  </svg>
</template>
