<template>
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <g>
            <path d="M10.5,7.2C9.7,7.2,9,7.5,8.5,8C8,8.6,7.7,9.2,7.7,10s0.3,1.4,0.8,2c0.5,0.5,1.2,0.8,2,0.8c0.8,0,1.4-0.3,2-0.8
		c0.5-0.5,0.8-1.2,0.8-2S13,8.6,12.4,8C11.9,7.5,11.2,7.2,10.5,7.2z M12.3,10.6h-1.2v1.2H9.9v-1.2H8.6V9.4h1.2V8.1h1.2v1.2h1.2V10.6
		z"/>
            <path d="M12,2C6.5,2,2,6.5,2,12c0,5.5,4.5,10,10,10s10-4.5,10-10C22,6.5,17.5,2,12,2z M16.7,17l-3.9-3.9c-0.3,0.2-0.7,0.4-1.1,0.6
		c-0.4,0.1-0.8,0.2-1.3,0.2c-1.1,0-2.1-0.4-2.8-1.2C6.9,12,6.5,11.1,6.5,10s0.4-2.1,1.2-2.8C8.4,6.4,9.3,6,10.5,6s2.1,0.4,2.8,1.2
		s1.2,1.7,1.2,2.8c0,0.5-0.1,0.9-0.2,1.3c-0.1,0.4-0.3,0.8-0.6,1.1l3.9,3.9L16.7,17z"/>
        </g>
    </svg>
</template>
