<m-text-media :class="blockClasses" v-bind="$attrs">

    <template v-slot:text>
        <slot name="text" />
    </template>

    <template v-slot:media>

        <c-slider :options="options" :slides="slides" />

    </template>

</m-text-media>
