<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-page>

        <module-content>

            <layout layout="l-12">

                <template v-slot:column-1>

                    <c-heading v-if="heading && (heading.overline || heading.headline || heading.subline)" :class="element('heading')" v-bind="heading" />

                    <c-checklist :items="items" />

                    <c-download :class="element('download')" v-if="downloadButton" v-bind="downloadButton" />

                </template>

            </layout>

        </module-content>

    </module-page>

</module>
