////
///
/// m-checklist
///
/// @group Modules
///
////

.m-checklist {
    // #region [Block]
    // #endregion

    // #region [Element]
    &__heading {
        @include responsive-heading-spacing();
    }

    &__download {
        margin-top: spacing('27');
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-checklist) {
        @include m-checklist;
    }
    // #endregion

}
