<component :is="tag" :class="blockClasses">

    <c-grid tag="header" :class="element('header')">
        <strong :class="[element('column'), element('column--title')]" v-html="$t('c-download-list--title')" />
        <strong :class="[element('column'), element('column--type')]" v-html="$t('c-download-list--type')" />
        <strong :class="[element('column'), element('column--size')]" v-html="$t('c-download-list--size')" />
        <strong :class="[element('column'), element('column--download')]" v-html="$t('c-download-list--download')" />
    </c-grid>

    <ul :class="element('list')">
        <c-grid tag="li" v-for="(item, index) in items" :key="index" :class="element('item')">
            <strong :class="[element('column'), element('column--title')]">{{ item.description }}</strong>
            <span :class="[element('column'), element('column--type')]">{{ item.type }}</span>
            <span :class="[element('column'), element('column--size')]">{{ item.size }}</span>
            <span :class="[element('column'), element('column--download')]">
                <c-download appearance="icon" :buttonLabel="false" :url="item.url" />
            </span>
        </c-grid>
    </ul>

</component>
