////
///
/// c-download-list
///
/// @group Components
///
////

$c-download-list-border-width: unitize(1px) !default;
$c-download-color-theme: 'table' !default;
$c-download-column-padding: spacing('27') 0 !default;
$c-download-column-border-color: rgba(color('disabled-selected'), .33) !default;
$c-download-column-responsive-fontsize: 'copytext--small' !default;
$c-download-column-line-height: unitize(20px) !default;
$c-download-column-download-line-margin: unitize(-10px) 0 !default;
$c-download-column-download-color-theme: 'icon' !default;
$c-download-header-font: font($default-font-family, 'bold', '16') !default;

.c-download-list {
    // #region [Block]
    $module: &;
    // #endregion

    // #region [Element]

    &__list {
        display: block;
        padding: 0;
        border-top-width: $c-download-list-border-width;
        border-bottom-width: $c-download-list-border-width;
        border-top-style: solid;
        border-bottom-style: solid;
        @include color-theme($c-download-color-theme);
    }

    &__item {
        align-items: stretch;
        width: 100%;
        list-style: none;
        &:first-child {
            #{$module}__column {
                border: none;
            }
        }
    }

    &__column {
        display: flex;
        align-items: center;
        padding: $c-download-column-padding;
        border-top: $c-download-list-border-width solid $c-download-column-border-color;
        @include grid-cell-size(4);
        @include responsive-font($c-download-column-responsive-fontsize, false, false, $c-download-column-line-height);
        @include above('s') {
            @include grid-cell-size(2);
        }

        &--title{
            font-weight: font-weight('bold');
            @include grid-cell-size(8);
            @include above('s') {
                @include grid-cell-size(6);
            }
        }

        &--size, &--type {
            display: none;
            @include above('s') {
                display: flex;
            }
        }

        &--download {
            justify-content: center;
            .c-button {
                margin: $c-download-column-download-line-margin;
                @include color-theme($c-download-column-download-color-theme)
            }
            @include above('s') {
                justify-content: flex-start;
            }
        }

    }

    &__header {
        #{$module}__column {
            padding-top: 0;
            border: none;
            font: $c-download-header-font;
            &--download {
                justify-content: flex-end;
                @include above('s') {
                    justify-content: flex-start;
                }
            }
        }
    }

    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-download-list) {
        @include c-download-list;
    }
    // #endregion

}
