<component v-if="quote" :is="tag" :class="blockClasses">
    <blockquote v-if="quote" :class="element('quote')" v-html="quote" />
    <figcaption v-if="author" :class="element('author')"><cite v-html="author" /></figcaption>
</component>
