////
///
/// c-blockquote
///
/// @group Components
///
////

$c-blockquote-quote-responsive-fontsize: 'h1' !default;
$c-blockquote-quote-color-theme: 'blockqoute' !default;
$c-blockquote-author-responsive-fontsize: 'h6' !default;

.c-blockquote {
    // #region [Block]
    // #endregion

    // #region [Element]
    &__quote {
        display: block;
        position: relative;
        margin: 0;
        @include responsive-font($c-blockquote-quote-responsive-fontsize);
        @include color-theme($c-blockquote-quote-color-theme);
        p, span {
            color: inherit;
            font: inherit;
        }
    }

    &__author {
        margin-top: spacing('27');
        font-style: normal;
        @include responsive-font($c-blockquote-author-responsive-fontsize);
    }

    a {
        transition: transition-fade-in(all);
        text-decoration: none;
        @include color-theme('link');
    }

    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-blockquote) {
        @include c-blockquote;
    }
    // #endregion

}
