////
///
/// c-slider
///
/// @group Components
///
////

$c-slider-toolbar-height: unitize(48px) !default;
$c-slider-toolbar-spacing: spacing('20') !default;
$c-slider-control-element-spacing: spacing('27') !default;
$c-slider-control-button-padding: spacing('10') !default;
$c-slider-control-position-mobile: center !default;
$c-slider-control-position-desktop: flex-end !default;

.c-slider {
    // #region [Block]
    $module: &;
    position: relative;
    max-width: 100%;
    // #endregion

    // #region [Element]

    .swiper-slide {
        min-height: 1px; // to prevent a swiper autoHeight bug if a slide has no content
    }

    &__toolbar {
        position: static;
        &-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: $c-slider-control-position-mobile;
            @include above('s') {
                flex-direction: row;
                justify-content: $c-slider-control-position-desktop;
            }
        }
    }

    &__slide-description {
        flex-grow: 10;
        margin: $c-slider-toolbar-spacing 0 0;
        a {
            transition: transition-fade-in(all);
            text-decoration: none;
            @include color-theme('link');
        }
    }

    &__controls {
        display: block;
        position: relative;
        flex-shrink: 0;
        z-index: zindex(100);
        margin: $c-slider-toolbar-spacing auto 0;
        font-size: 0;
        white-space: nowrap;
        @include above('s') {
            margin: $c-slider-toolbar-spacing 0 0;
        }
    }

    &__pagination {
        &[class*="bullet"] {
            width: unitize(16px);
            height: unitize(16px);
            margin-left: spacing('10');
            opacity: 1;
            @include color-theme('slider-bullet');
            @include rtl() {
                margin-left: 0;
                margin-right: spacing('10');
            }
        }
        &[class*="fraction"] {
            display: inline-block;
            bottom: 0;
            left: 0;
            width: auto;
            margin: spacing('6') 0 spacing('6') ($c-slider-control-element-spacing - $c-slider-control-button-padding);
            padding: spacing('6') spacing('16');
            border-radius: unitize(26px);
            font: font($default-font-family, 'bold', '14');
            text-align: center;
            vertical-align: middle;
            @include color-theme('slider-controls-fraction');
            .swiper-pagination-current, .swiper-pagination-total {
                font: inherit;
            }
        }
    }

    &__next-slide {
        margin: 0 0 0 ($c-slider-control-element-spacing - $c-slider-control-button-padding);
        padding: $c-slider-control-button-padding;
        vertical-align: middle;

        @include rtl() {
            margin: 0;
            transform: rotate(180deg);
        }

    }

    &__previous-slide {
        @extend .c-slider__next-slide;
        margin: 0;

        @include rtl() {
            margin: 0 0 0 ($c-slider-control-element-spacing - $c-slider-control-button-padding);
        }

    }

    &__placeholder {
        display: none;
        &:first-child {
            display: block;
            opacity: 0;
        }
    }
    // #endregion

    // #region [Modifier]
    &--controls-top {
        @include above('s') {
            .swiper {
                margin-top: ($c-slider-toolbar-spacing + $c-slider-toolbar-height) * -1;
                padding-top: $c-slider-toolbar-spacing + $c-slider-toolbar-height;
            }
            #{$module}__toolbar-wrapper {
                position: static;
            }
            #{$module}__controls {
                position: absolute;
                top: 0;
                margin: 0;
            }
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-slider) {
        @include c-slider;
    }
    // #endregion

}
