<component :is="tag" :class="blockClasses">
    <client-only>
        <swiper
                ref="swiper"
                class="swiper"
                :class="element('swiper')"
                :options="swiperOptions"
                @ready="sliderReady"
                @slide-change="updateSlideDescription"
                :dir="$i18n && $i18n.localeProperties ? $i18n.localeProperties.dir : 'ltr'"
        >
            <slot>

                <swiper-slide v-for="(slide, index) in slides" :key="index">

                    <component v-for="(component, index) in slide.content" @hook:mounted="loadedSlide" @load="loadedSlide" :class="element('slide-module')" :key="index" :is="component.name" v-bind="moduleProps(component.data.props)">
                        <slot v-for="(_, name) in component.slots" :name="name" :slot="name">
                            <component-loader :components="_" />
                        </slot>
                    </component>

                </swiper-slide>

            </slot>

            <div :class="element('toolbar')" slot="pagination">

                <div :class="element('toolbar-wrapper')">

                    <transition-replace>
                        <div :key="swiper.activeIndex" v-if="slideDescription && slideDescription.text" :class="element('slide-description')">
                            <p v-html="slideDescription.text" />
                        </div>
                    </transition-replace>

                    <div :class="element('controls')" v-if="swiperOptions.navigation || swiperOptions.pagination">

                        <c-button v-if="swiperOptions.navigation" :class="element('previous-slide')" icon="arrowBack" appearance="icon" />

                        <span v-if="swiperOptions.pagination" :class="element('pagination')" />

                        <c-button v-if="swiperOptions.navigation" :class="element('next-slide')" icon="arrowForward" appearance="icon" />

                    </div>

                </div>

            </div>

        </swiper>

        <div slot="placeholder">

            <div v-for="(slide, index) in slides" :key="index" :class="element('placeholder')">

                <component v-for="(component, index) in slide.content" :class="element('slide-module')" :key="index" :is="component.name" v-bind="moduleProps(component.data.props)" />

            </div>
        </div>

    </client-only>
</component>
