<template>
    <div class="component-loader">
        <component v-for="(component, index) in components" :key="index" :is="component.name" v-if="component.data && component.data.props" v-bind="component.data.props">
            <slot v-for="(_, name) in component.slots" :name="name" :slot="name">
                <component-loader :components="_" />
            </slot>
        </component>
    </div>
</template>

<script>

export default {

    name: 'component-loader',

    props: {
        components: [Array, Object]
    }
};
</script>
