<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-page>

        <module-content>

            <layout :layout="layout">

                <template v-slot:[getSlotName]>

                    <c-heading v-if="heading || slotHasContent('default')" :class="element('heading')" v-bind="heading" >
                        <template v-slot:overline>
                            <slot name="overline" />
                        </template>
                        <template v-slot:headline>
                            <slot name="headline" />
                        </template>
                        <template v-slot:subline>
                            <slot name="subline" />
                        </template>
                    </c-heading>

                </template>

            </layout>

        </module-content>

    </module-page>

</module>
