<component :is="tag" :class="blockClasses">
    <div
         v-if="background"
         :class="element('background') + ' ' +  element('background--' + backgroundPosition)"
         :style="((backgroundImage && !backgroundDecoration) || (backgroundImage && !backgroundDecorationImage)) ? { backgroundImage: 'url(\'' + backgroundImage + '\')' } : false"
    >
    </div>

    <div v-if="backgroundDecoration"
        :class="[element('decoration'), (backgroundDecorationImage ? element('background--' + backgroundPosition) : false)]"
        :style="(backgroundImage && backgroundDecorationImage) ? { backgroundImage: 'url(\'' + backgroundImage + '\')' } : false"
    >
        <slot name="decoration" />
    </div>

    <slot />

</component>
