////
///
/// Module
///
/// @group Modules
///
////

// sass-lint:disable no-universal-selectors
.module {

    // #region [Block]
    @include grid-areas();
    position: relative;
    z-index: 0;
    @include color-theme('copytext');
    // #endregion

    // #region [Element]
    & > * {
        @include grid-cell-position(1, 1);
        @include grid-cell-size(5);
    }

    & > .module-page {
        @include grid-cell-position(2, 1);
        @include grid-cell-size(3);
    }

    & > .module-content {
        @include grid-cell-position(3, 1);
        @include grid-cell-size(1);
    }

    &__background {
        position: relative;
        z-index: -1;
        align-self: stretch;
        justify-self: stretch;

        @include color-theme('background');
        background-position: center center;
        background-size: cover;

        &--viewport {
            @include grid-cell-position(1,1);
            @include grid-cell-size(5);
        }
        &--page {
            @include grid-cell-position(2,1);
            @include grid-cell-size(3);
        }
        &--content {
            @include grid-cell-position(3,1);
            @include grid-cell-size(1);
        }

        @include generate-neglect-responsive-spacing-classes('padding', 'top');
        @include generate-neglect-responsive-spacing-classes('padding', 'bottom');

    }

    &__decoration {
        position: relative;
        z-index: -1;
        align-self: stretch;
        justify-self: stretch;
        background-position: center center;
        background-size: cover;
        @include color-theme('background-deco');
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(module) {
        @include module;
    }
    // #endregion

}
