////
///
/// c-accordion
///
/// @group Components
///
////

$c-accordion-border-border-width: unitize(1px) !default;
$c-accordion-border-color-theme: 'accordion-panel' !default;
$c-accordion-toggle-padding-horizontal: spacing('44')!default;
$c-accordion-toggle-padding-vertical: spacing('27')!default;
$c-accordion-toggle-color-theme: 'copytext' !default;
$c-accordion-toggle-responsive-font: 'h6' !default;
$c-accordion-toggle-icon-size: unitize(24px) !default;
$c-accordion-toggle-icon-opacity: .33 !default;

.c-accordion {
    // #region [Block]
    $module: &;
    // #endregion

    // #region [Element]
    &__panel {
        &--open {
            #{$module}__toggle-icon {
                transform: translate(0, -50%) rotate(-180deg);
            }
        }
    }

    &__border {
        display: block;
        width: 100%;
        height: 0;
        margin: 0;
        padding: 0;
        border-bottom: none;
        border-top-width: $c-accordion-border-border-width;
        border-top-style: solid;
        @include color-theme($c-accordion-border-color-theme);
    }

    &__toggle {
        display: flex;
        position: relative;
        width: 100%;
        padding: $c-accordion-toggle-padding-vertical $c-accordion-toggle-padding-horizontal $c-accordion-toggle-padding-vertical 0;
        border: none;
        background: transparent;
        cursor: pointer;
        @include color-theme($c-accordion-toggle-color-theme);
        @include rtl() {
            padding: $c-accordion-toggle-padding-vertical 0 $c-accordion-toggle-padding-vertical $c-accordion-toggle-padding-horizontal;
        }
        &:hover {
            #{$module}__toggle-icon {
                @include color-theme('accordion-toggle-icon:hover');
            }
        }
    }

    &__toggle-label {
        position: relative;
        text-align: left;
        @include responsive-font($c-accordion-toggle-responsive-font);
        p {
            font: inherit;
        }
    }

    &__toggle-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        padding: spacing('10');
        transform: translate(0, -50%);
        transition: transition-appear(all);
        border-radius: 50%;
        @include color-theme('accordion-toggle-icon');
        @include rtl() {
            right: auto;
            left: 0;
        }
        svg {
            display: block;
            width: $c-accordion-toggle-icon-size;
            height: $c-accordion-toggle-icon-size;
        }
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-accordion) {
        @include c-accordion;
    }
    // #endregion

}
