<div :class="blockClasses">

    <div :class="[element('panel'), isOpen(panelIndex) ? elementModifier('panel', 'open') : '' ]" v-for="({ header, content }, panelIndex) in panels" :key="panelIndex">

        <hr :class="[element('border'), elementModifier('border', 'top')]">

        <button :class="element('toggle')" @click="toggleOpen(panelIndex)" type="button">
            <slot>
                <span :class="element('toggle-label')" v-html="header.text" />
                <span :class="element('toggle-icon')">
                    <slot name="icon">
                        <c-icon name="arrowDropDown" />
                    </slot>
                </span>
            </slot>
        </button>

        <transition-expand>
            <div :class="element('content')" v-show="isOpen(panelIndex)">
                <slot v-if="slotHasContent('panel-' + (parseInt(panelIndex) + 1))" :name="'panel-' + (parseInt(panelIndex) + 1)" />
                <slot v-else name="content" v-bind:content="content" v-bind:header="header">
                    <component v-for="({ name, data, slots }, index) in content" :key="index" :is="name" v-bind="merge(data.props, accordionDefaults)">
                        <slot v-for="(_, name) in slots" :name="name" :slot="name">
                            <component-loader :components="_" />
                        </slot>
                    </component>
                </slot>
            </div>
        </transition-expand>

        <hr :class="[element('border'), elementModifier('border', 'bottom')]"  v-if="panelIndex === Object.keys(panels).length - 1">

    </div>

</div>
