<c-grid :class="blockClasses">
    <slot>
        <div v-if="slotHasContent('column-1')" :class="element('column-1')">
            <slot name="column-1" />
        </div>
        <div v-if="slotHasContent('column-2')" :class="element('column-2')">
            <slot name="column-2" />
        </div>
    </slot>
</c-grid>
