////
///
/// l-6-6 Layout Styles
///
/// @group Layouts
///
////

.l-6-6 {

    // #region [Block]
    // #endregion

    // #region [Element]
    > * {
        @include grid-cell-size(12);
    }

    @include above('s') {

        &__column-1 {
            @include grid-cell-position(1, 1);
            @include grid-cell-size(6)
        }

        &__column-2 {
            @include grid-cell-position(7, 1);
            @include grid-cell-size(6)
        }
    }
    // #endregion

    // #region [Modifier]
    // #endregion

}
