////
///
/// c-button
///
/// @group Components
///
////

$c-button-border-radius: $basic-border-radius !default;
$c-button-padding-vertical: spacing('10') !default;
$c-button-padding-horizontal: spacing('27') !default;
$c-button-icon-margin: spacing('16') !default;
$c-button-label-font: 'button' !default;
$c-button-label-font--big: 'button--big' !default;
$c-button-label-font--text: 'copytext' !default;
$c-button-label-weight--text: 'bold' !default;
$c-button-label-text-transform: none !default;

.c-button {
    // #region [Block]
    $module: &;
    $label: '' !default;
    $icon: '' !default;
    display: inline-flex;
    position: relative;
    justify-content: center;
    min-height: spacing('44');
    padding: $c-button-padding-vertical $c-button-padding-horizontal;
    transition: transition-fade-in(all);
    border: 1px solid transparent;
    border-radius: $c-button-border-radius;
    outline: none;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    // #endregion

    // #region [Element]

    &__label {
        $label: &;
        position: relative; // disable press effect in IE
        align-self: center;
        transition: transition-fade-in(opacity);
        text-transform: $c-button-label-text-transform;
        @include responsive-font($c-button-label-font);
        span {
            font: inherit;
        }
    }

    &__icon {
        $icon: &;
        flex-shrink: 0;
        align-self: center;
        transition: transition-fade-in(opacity);
        svg {
            display: block;
        }
    }

    .c-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: unitize(30px);
        height: unitize(30px);
        transform: translate(-50%, -50%);
        svg {
            width: inherit;
            height: inherit;
        }
    }

    // #endregion

    // #region [Modifier]
    &:disabled, &.disabled {
        cursor: not-allowed;
        user-select: none;
    }

    &:focus {
        @include color-theme('focus');
    }

    // Loading
    &--loading {
        cursor: wait;
        user-select: none;
        #{$label} {
            opacity: 0;
        }
        #{$icon} {
            opacity: 0;
        }
    }

    // Icon Position

    &--icon-left {
        #{$label} {
            order: 2;
            + #{$icon} {
                order: 1;
                margin-right: $c-button-icon-margin;
                @include rtl() {
                    margin-right: 0;
                    margin-left: $c-button-icon-margin;
                }
            }
        }
    }

    &--icon-right {
        #{$label} {
            order: 1;
            + #{$icon} {
                order: 2;
                margin-left: $c-button-icon-margin;
                @include rtl() {
                    margin-right: $c-button-icon-margin;
                    margin-left: 0;
                }
            }
        }
    }

    // Sizes

    &--size-big {
        @include responsive-spacing('xsmall', padding-left padding-right);
        @include responsive-spacing('xxsmall', padding-top padding-bottom);
        @include responsive-font($c-button-label-font--big);
    }

    // Appearances

    &--primary {
        @include color-theme('button-primary');
    }

    &--secondary {
        @include color-theme('button-secondary');
    }

    &--pill-dark {
        border-radius: spacing('44');
        @include color-theme('button-pill-dark');
        #{$icon} {
            opacity: .5;
        }
    }

    &--icon {
        padding: spacing('10');
        border-radius: 50%;
        @include color-theme('button-icon');
    }

    &--text {
        @include color-theme('button-text');

        #{$label} {
            @include responsive-font($type: $c-button-label-font--text, $font-weight-overwrite: $c-button-label-weight--text);
        }

        #{$icon} {
            opacity: .33;
        }

        &:active {
            #{$icon} {
                opacity: 1;
            }
        }

        &:focus {
            box-shadow: none!important;
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-button) {
        @include c-button;
    }
    // #endregion

}
