<component :is="calculatedTag" v-bind="attributes" :class="blockClasses" :aria-label="label ? label : $slots.default" tabindex="0">
    <slot name="content">
        <span :class="element('label')" v-if="label || slotHasContent('default')">
            <slot>
                <span v-html="label" />
            </slot>
        </span>
        <span :class="element('icon')" v-if="icon">
            <slot name="icon">
                <c-icon :name="icon" />
            </slot>
        </span>
        <span :class="element('spinner')" v-if="spinner">
            <slot name="loading">
                <c-spinner :visible="loading" />
            </slot>
        </span>
    </slot>
</component>




