<component :is="tag" :class="blockClasses">

    <span :class="element('wrapper')">

       <picture :class="[element('canvas'), getCanvasClasses]" :style="getCanvasInlineStyling" draggable="false">

            <source
                    v-for="(source) in getAlternateSources"
                    v-bind="source"
            >

            <img
                    v-bind="getImageBindings"
                    draggable="false"
                    @load="loadEvent"
            />

       </picture>

       <span v-if="information || lightboxImage" :class="[element('information'), getInformationClasses]">

           <c-tooltip v-if="information" tag="span" :position="getTooltipPosition" icon="info" trigger="hover">
               <span v-html="information" />
           </c-tooltip>

           <button :class="element('lightbox-button')" @click="openModal" v-if="lightboxImage">
               <span>
                  <c-icon  name="zoomIn" />
               </span>
           </button>

       </span>

       <slot />

    </span>

    <component :is="captionTag" v-if="caption" :class="[element('caption'), getCaptionClasses]">
        <span v-html="caption"/>
    </component>

    <c-modal ref="modal" :additionalClasses="element('lightbox')" v-if="lightboxImage">
        <c-image :src="lightboxImage.src" :srcAlternates="lightboxImage.srcAlternates"/>
    </c-modal>

</component>
