////
///
/// Image Styles
///
/// @group Components
///
////

$c-image-caption-padding: spacing('6') !default;
$c-image-caption-font: font($default-font-family, 'regular', '12') !default;
$c-image-information-padding: unitize(10px) !default;
$c-image-caption-padding: spacing('6') !default;

$c-image-lightbox-button-theme: 'copytext' !default;
$c-image-lightbox-button-opacity: .75 !default;
$c-image-lightbox-close-color: color('dark') !default;
$c-image-lightbox-close-background: color('white') !default;
$c-image-lightbox-close-responsive-spacing: ( 'default': '20', 'm': '27' ) !default;

.c-image {
    display: flex;
    position: relative;
    z-index: auto;
    flex-direction: column;
    max-width: 100%;
    height: auto;

    &--type-inline {
        display: inline-flex;
    }

    &__wrapper {
        display: block;
        position: relative;
        order: 2;
        height: inherit;
        min-height: 1px;
        max-height: inherit;
    }

    &__canvas {
        display: block;
        position: relative;
        width: 100%;
        height: inherit;
        min-height: inherit;
        max-height: inherit;
        overflow: hidden;
        pointer-events: none;
        user-select: none;

        &-overlay {
            $overlay: &;
            z-index: zindex(100);

            &::after {
                content: "";
                display: block;
                position: absolute;
                z-index: zindex(200);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                @include color-theme('media-overlay');
                pointer-events: none;
            }
            @include below('s') {
                &--hide-mobile {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        &-skeleton {
            @include skeleton();
        }
    }

    &__element {
        display: block;
        width: 100%;
        height: inherit;
        min-height: inherit;
        max-height: inherit;

        &--absolute {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
        }

    }

    &__caption {
        display: block;
        overflow: visible;
        padding: $c-image-caption-padding;

        span, p {
            font: $c-image-caption-font;
        }

        &--valign-top {
            order: 1;
            padding: 0 0 $c-image-caption-padding 0;
        }

        &--valign-bottom {
            order: 3;
            padding: $c-image-caption-padding 0 0 0;
        }

    }

    &__information {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 150;

        * + * {
            margin-left: spacing('3')!important;
        }

        svg {
            width: unitize(33px);
            height: unitize(33px);
        }

        &--align-top-left {
            top: $c-image-information-padding;
            left: $c-image-information-padding;
        }

        &--align-top-right {
            top: $c-image-information-padding;
            right: $c-image-information-padding;
        }

        &--align-bottom-left {
            bottom: $c-image-information-padding;
            left: $c-image-information-padding;
        }

        &--align-bottom-right {
            right: $c-image-information-padding;
            bottom: $c-image-information-padding;
        }
    }

    &__lightbox-button {
        display: block;
        padding: 0;
        margin: 0;
        opacity: $c-image-lightbox-button-opacity;
        background: transparent;
        border: none;
        outline: none;
        vertical-align: top;
        cursor: zoom-in;
        transition: transition-fade-in(all);
        @include color-theme($c-image-lightbox-button-theme);

        &:hover {
            opacity: 1;
        }

        span {
            display: block;
            position: relative;
        }
        svg {
            display: block;
        }
    }

    &__lightbox {
        align-items: center!important;

        .c-modal__close {
            color: $c-image-lightbox-close-color;
            background: $c-image-lightbox-close-background;
            cursor: zoom-out;
            &:hover {
                color: $c-image-lightbox-close-color;
                background: $c-image-lightbox-close-background;
            }
        }

        .c-modal__box {
            width: auto!important;
            background: transparent!important;
        }

        .c-modal__box,
        .c-modal__content {
            padding: 0!important;
        }

        img {
            max-width: 95vw;
            max-height: 90vh;
            max-height: 90dvh;
            width: auto;
            height: auto;
        }
    }

    // #region [Overwrites]
    @if mixin-exists(c-image) {
        @include c-image;
    }
    // #endregion

}
