////
///
/// Video Styles
///
/// @group Components
///
////

$c-video-caption-padding: spacing('6') !default;
$c-video-caption-font: font($default-font-family, 'regular', '12') !default;

.c-video {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;

    &--type-inline {
        display: inline-flex;
        width: auto;
    }

    &__wrapper {
        display: block;
        position: relative;
        order: 2;
        width: 100%;
        height: inherit;
        min-height: inherit;
        max-height: inherit;
    }

    &__canvas {
        display: block;
        position: relative;
        z-index: zindex(100);
        order: 2;
        width: 100%;
        height: inherit;
        overflow: hidden;

        video {
            width: 100%;
        }

        &-overlay {

            &::after {
                content: "";
                display: block;
                position: absolute;
                z-index: zindex(200);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: transition-fade-in();
                opacity: 1;
                @include color-theme('media-overlay');
                pointer-events: none;
            }

            &--hide {
                &::after {
                    opacity: 0;
                }
            }

            @include below('s') {
                &--hide-mobile {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        &-skeleton {
            @include skeleton();
        }
    }

    &__poster {
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: transition-fade-in();
        opacity: 1;
        background-position: center center;
        background-size: cover;

        &--hide {
            opacity: 0;
            pointer-events: none;
        }

    }

    &__play-button {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__element {
        display: block;
        width: 100%;
        height: inherit;

        &--absolute {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
        }

    }

    &__caption {
        display: block;
        padding: $c-video-caption-padding;
        font: $c-video-caption-font;

        p {
            font: inherit;
        }

        &--valign-top {
            order: 1;
        }

        &--valign-bottom {
            order: 3;
        }

    }

    &__embedded {
        display: block;
        position: relative;
        z-index: zindex(100);
        order: 2;
        width: 100%;
        height: 0;
        overflow: hidden;

        &-iframe {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

    }

    // #region [Overwrites]
    @if mixin-exists(c-video) {
        @include c-video;
    }
    // #endregion

}
