<component :is="tag" :class="blockClasses" :key="$route.fullPath">

    <span v-if="isEmbedded" :style="getEmbeddedInlineStyling" :class="element('embedded')">
        <iframe
            :src="getEmbeddedUrl"
            :title="embedded.providerName"
            :class="element('embedded-iframe')"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </span>

    <span v-else :class="getCanvasClasses" :style="getCanvasInlineStyling">

            <video
                ref="videoElement"
                :tabindex="(showPoster ? -1 : null)"
                :data-object-fit="objectFit"
                :data-object-position="objectPosition"
                :controls="controls"
                :loop="loop"
                :muted="isMuted"
                :disablePictureInPicture="!pictureInPicture"
                :autoPictureInPicture="pictureInPicture"
                :controlsList="getControlsList"
                :autoplay="autoplay"
                :playsinline="getPlaysinline"
                :class="getVideoClasses"
                :style="getVideoInlineStyling"
                :poster="poster"
                @canplay="loadEvent"
                @loadedmetadata="loadEvent"
                @ended="videoEndEvent"
                crossorigin="anonymous"
            >

                <source v-for="(source, type) in sources" :key="type" :type="type" :src="source">

                <template v-if="track" v-for="(url, type) in track">
                    <track :src="url" :kind="type" :srclang="$i18n.locale" :label="getTrackLabel" default/>
                </template>

            </video>

            <span v-if="poster && posterPlayText && !autoplay" :class="getPosterClasses" :style="getPosterInlineStyling">
                <span :class="element('play-button')">
                    <c-button
                        :label="posterPlayText"
                        icon="playCircleOutline"
                        appearance="pill-dark"
                        @click.native.prevent="startVideoFromPoster"
                    />
                </span>
            </span>

    </span>

    <component :is="captionTag" v-if="caption" :class="getCaptionClasses" v-html="caption" />

</component>
