////
///
/// m-image
///
/// @group Modules
///
////

.m-image {
    // #region [Block]
    // #endregion

    // #region [Element]
    &__heading {
        @include responsive-heading-spacing();
    }

    > .module__background {
        @include grid-cell-height(2);
    }

    #{&}__module + #{&}__module {
        @include grid-cell-row-start(2);
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-image) {
        @include m-image;
    }
    // #endregion

}
