<component :is="tag" :class="blockClasses">

    <c-link :url="url" :externalUrl="externalUrl" @click.native="checkForModal" :class="element('link')">

        <c-image :src="!image ? 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' : image.src"
                 v-bind="image ? image : null"
                 :skeleton="true"
                 :overlay="true"
                 objectFit="cover"
                 :aspectRatios="aspectRatios"
                 :class="element('image')"
        >
        </c-image>

        <span :class="element('content')" v-if="overline ||  headline">
            <small :class="element('overline')">
                <span v-if="overline" v-html="overline" />
                <span v-else-if="type === 'nugget' && mainCategories && mainCategories.length > 0" v-html="mainCategories.join(', ')" />
            </small>
            <h2 :class="element('headline')" v-html="headline" />
        </span>

    </c-link>

    <c-modal ref="popup" v-if="popup">

        <div :class="element('popup')">

            <h3 v-if="popup.headline" :class="element('popup-headline')" v-html="popup.headline" />

            <h3 v-if="popup.text" :class="element('popup-text')" v-html="popup.text" />

            <div :class="element('popup-footer')" v-if="popup.buttonLabel && popup.url">
                <c-button tag="a" :href="popup.url" target="_blank" :label="popup.buttonLabel" />
            </div>

        </div>

    </c-modal>

</component>
