////
///
/// Iframe Styles
///
/// @group Components
///
////

$c-iframe-cookie-note-color: color('white') !default;
$c-iframe-cookie-note-background-color: color('primary') !default;

.c-iframe {
    width: 100%;
    height: 100%;

    &__content, &__cookie-note  {
        display: block;
        width: inherit;
        height: inherit;
        overflow: hidden;
    }

    &__cookie-note {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: spacing('27');
        background: $c-iframe-cookie-note-background-color;
        color: $c-iframe-cookie-note-color;
        text-align: center;
    }

    &__btn {
        margin-top: spacing('20');
    }

    // #region [Overwrites]
    @if mixin-exists(c-iframe) {
        @include c-iframe;
    }
    // #endregion

}
