<div :class="blockClasses" :style="inlineStyles">

    <iframe v-if="allowedToShow" :src="src" :title="title" :class="element('content')" frameborder="0" :aria-hidden="hasNoAriaLabel"></iframe>

    <div v-else :class="element('cookie-note')">
        <div :class="element('cookie-note-content')">
            <p>{{ cookieRestrictionText }}</p>
            <c-button color="secondary" :class="element('btn')" @click="allowIframe">{{ cookieRestrictionButtonText }}</c-button>
        </div>
    </div>

</div>
