////
///
/// m-marquee
///
/// @group Modules
///
////

.m-marquee {
    // #region [Block]

    // #endregion

    // #region [Element]

    &__heading {
        @include responsive-heading-spacing();
    }

    > .module__background {
        @include grid-cell-height(2);
    }

    #{&}__module + #{&}__module {
        @include grid-cell-row-start(2);
    }

    .c-marquee + .c-marquee {
        margin-top: spacing('20');
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-marquee) {
        @include m-marquee;
    }
    // #endregion

}
