<module v-if="url" :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-page>

        <module-content>

            <layout layout="l-12">

                <template v-slot:column-1>
                    <c-download v-bind="$props" />
                </template>

            </layout>

        </module-content>

    </module-page>

</module>
