<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-page>

        <module-content>

            <layout :layout="verifiedLayout">

                <template v-slot:[getSlotName]>

                    <c-blockquote v-bind="blockquote"/>

                </template>

            </layout>

        </module-content>

    </module-page>

</module>
