<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
        v-if="button"
>

    <module-page>

        <module-content>

            <layout layout="l-12">

                <template v-slot:column-1>

                    <c-button v-bind="button">
                        <slot />
                    </c-button>

                </template>

            </layout>

        </module-content>

    </module-page>

</module>
