////
///
/// Module-page
///
/// @group Modules
///
////

// sass-lint:disable no-universal-selectors
.module-page {

    // #region [Block]
    @include grid-areas('page');
    grid-auto-flow: row;
    // #endregion

    // #region [Element]
    & > * {
        @include grid-cell-position(1,1);
        @include grid-cell-size(3);
    }

    & > .module-content {
        @include grid-cell-position(2,1);
        @include grid-cell-size(1);
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(module-page) {
        @include module-page;
    }
    // #endregion

}
