<transition name="fade">
    <component
        v-show="visible"
        :is="tag"
        :class="blockClasses"
    >

        <span :class="`${$options.name}__content`">

            <c-icon name="loading" />

            <span v-if="hasTextSlot" :class="`${$options.name}__text`">
                <slot></slot>
            </span>

        </span>

    </component>
</transition>
