////
///
/// Spinner Styles
///
/// @group Components
///
////

$c-spinner-color: inherit !default;
$c-spinner-rotation-duration: 0.75s !default;
$c-spinner-fullscreen-background-color: color('white') !default;
$c-spinner-fullscreen-opacity: 0.8 !default;

.c-spinner {
    $block: &;
    display: flex;
    align-items: center;
    justify-items: center;
    color: $c-spinner-color;

    &__content {
        display: block;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }

    svg {
        animation: rotation $c-spinner-rotation-duration linear infinite;
    }

    &__text {
        display: inline-block;
        width: 100%;
        margin-top: spacing('10');
    }

    &--fullscreen {
        display: block;
        position: fixed;
        z-index: zindex(900);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($c-spinner-fullscreen-background-color, $c-spinner-fullscreen-opacity);

        #{$block}__content {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            height: auto;
            transform: translate(-50%, -50%), scale(1);
        }

    }

    &.fade-enter-active, &.fade-leave-active {
        transition: opacity $default-animation-duration $default-animation-easing;

        #{$block}__content {
            transition: transform 1s;
        }

    }

    &.fade-enter, &.fade-leave-to {
        opacity: 0;

        #{$block}__content {
            transform: scale(0);
        }
    }

    // #region [Overwrites]
    @if mixin-exists(c-spinner) {
        @include c-spinner;
    }
    // #endregion

}
