////
///
/// Module-viewport
///
/// @group Modules
///
////

// sass-lint:disable no-universal-selectors
.module-viewport {

    // #region [Block]
    @include grid-areas();
    @include grid-cell-position(1, 1);
    @include grid-cell-size(5);
    // #endregion

    // #region [Element]
    & > * {
        @include grid-cell-position(1, 1);
        @include grid-cell-size(5);
    }

    & > .module-page {
        @include grid-cell-position(2, 1);
        @include grid-cell-size(3);
    }

    & > .module-content {
        @include grid-cell-position(3, 1);
        @include grid-cell-size(1);
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(module-viewport) {
        @include module-viewport;
    }
    // #endregion

}
