///
/// Global expand transition class
/// Should used only with the <transition-expand> component
///
/// @group Transitions
///

.expand {
    &-enter-active,  &-leave-active {
        overflow: hidden;
        transition: transition-appear(height, $default-replace-enter-duration);
    }
    &-enter, &-leave-to {
        height: 0;
    }
}
