///
/// Global fade transition class
///
/// @group Transitions
///

.fade {
    &-enter-active {
        transition: transition-fade-in();
    }
    &-leave-active {
        transition: transition-fade-out();
    }
    &-enter-to,
    &-fade-leave {
        opacity: 1;
    }
    &-enter,
    &-leave-to {
        opacity: 0;
    }
}
