///
/// Global change page transition class
/// Include the transition of a layout to adjust the effect
///
/// @group Transitions
///

.page, .layout {
    &-enter-active {
        transition: transition-appear(opacity, 200ms);
    }
    &-leave-active {
        transition: transition-disappear(opacity, 200ms);
    }
    &-enter, &-leave-active {
        opacity: 0;
    }
}
