///
/// Global replace transition class
/// Should used only with the <transition-replace> component
///
/// @group Transitions
///

.replace {
    &-enter-active {
        overflow: hidden;
        transition: height 400ms $default-animation-easing-decelerate, opacity $default-replace-enter-duration $default-animation-easing-decelerate;
    }
    &-leave-active {
        overflow: hidden;
        transition: opacity $default-replace-leave-duration $default-animation-easing-decelerate;
    }
    &-enter, &-leave-to {
        opacity: 0;
    }
}
