///
/// Global slide transition classes
///
/// @group Transitions
///

.slide--right {
    &-enter-active, &-leave-active {
        transition: transition-appear(transform, 350ms);
    }
    &-leave, &-enter-to {
        transform: translateX(0);
    }
    &-leave-to {
        transform: translateX(100%);
    }
    &-enter {
        transform: translateX(-100%);
    }
}

.slide--left {
    &-enter-active,  &-leave-active {
        transition: transition-appear(transform, 350ms);
    }
    &-leave, &-enter-to {
        transform: translateX(0);
    }
    &-leave-to {
        transform: translateX(-100%);
    }
    &-enter {
        transform: translateX(100%);
    }
}
