///
/// Global slide-in-fade-out transition class
/// slide and fade In on Enter, only fade Out on leave
///
/// @group Transitions
///

.slide-in-fade-out {
    &-enter-active, &-leave-active {
        transition: opacity $default-replace-enter-duration $default-animation-easing-decelerate,
            transform $default-replace-enter-duration $default-animation-easing-decelerate;
    }
    &-enter-to,
    &-fade-leave {
        opacity: 1;
    }
    &-enter,
    &-leave-to {
        opacity: 0;
    }
    &-enter {
        transform: translateY(100%);
    }
    &-enter-to {
        transform: none;
    }
}
