////
///
/// Base Styles
///
/// @group Base
///
////


///
/// Generate all @font-face declarations to load the fonts.
/// Loaded from the $font-config array in the config files.
///
@include generate-font-face-declaration();


///
/// Generate a complete normalize declaration with project own defaults.
/// The default settings can be done in the in the typography config file.
///
@include generate-normalize();

$body-font: 'copytext' !default;
$body-font-color: color('light-font') !default;
$body-background-theme: 'background' !default;

///
/// Define the default text styles in the project.
///
body {
    position: relative;
    overflow-x: hidden;
    color: $body-font-color;
    hyphens: auto;
    @include responsive-font($body-font);
}

.body-background {
    @include color-theme($body-background-theme);
}
