////
///
/// Base Classes Styles
///
/// @group Base
///
////


///
/// Globalconvenience class for typo sizes
///
@include generate-typography-classes();


///
/// Global convenience classes to for text styles
///
.is-italic {
    font-style: italic;
}

.is-bold {
    font-weight: font-weight('bold');
}

.is-underline {
    text-decoration: underline;
}

.is-uppercase {
    text-transform: uppercase;
}

.is-lowercase {
    text-transform: lowercase;
}

.is-capitalized {
    text-transform: capitalize;
}

.is-primary-color {
    color: color('primary');
}

.is-secondary-color {
    color: color('secondary');
}

.has-no-hyphens {
    hyphens: none;
}

.has-no-wrap {
    white-space: nowrap;
}

.has-no-break-inside {
    display: block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.text-align {
    &-left {
        text-align: left;
        @include rtl() {
            text-align: right;
        }
    }
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
        @include rtl() {
            text-align: left;
        }
    }
}

.text-valign {
    &-top {
        vertical-align: top;
    }
    &-middle {
        vertical-align: middle;
    }
    &-bottom {
        vertical-align: bottom;
    }
}

///
/// Global convenience class to prevent list bullets
///
.has-no-list-style {
    list-style-type: none;
}


///
/// Global class for the html tag to prevent scrolling
///
.has-no-scroll {
    height: 100vh;
    overflow: hidden;

    body {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
}



///
/// Global class to clearfix the element
///
.has-clearfix {
    @include clearfix();
}


///
/// Lazyload animation classes
///
.lazyload, .lazyloading {
    opacity: 0;
}

.lazyloaded {
    transition: transition-fade-in();
    opacity: 1;
}


///
/// Global convenience background color classes
///
@include generate-color-background-classes();


///
/// Global convenience spacing classes
///
@include generate-responsive-spacing-classes('margin', 'top');
@include generate-responsive-spacing-classes('margin', 'bottom');
@include generate-responsive-spacing-classes('padding', 'top');
@include generate-responsive-spacing-classes('padding', 'bottom');
