////
///
/// Animation Keyframes
///
/// @group Base
///
////


///
/// 360 degree rotation keyframe
///
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


///
/// skeleton wave animation
///
@keyframes skeletonAnimation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
