<div :class="blockClasses" ref="marquee" :key="forceUpdateKey" dir="ltr">
    <client-only>
        <marquee-text :repeat="contentRepeat" :duration="duration" :paused="paused" :reverse="direction !== 'left'">
            <slot>
                <div :class="element('content')" >
                    <component v-for="(component, index) in content" :class="element('item')" :key="index" :is="component.name" v-bind="component.data.props" />
                </div>
            </slot>
        </marquee-text>
        <div slot="placeholder" :class="element('content')">
            <component v-for="(component, index) in content" :class="element('item')" :key="index" :is="component.name" v-bind="component.data.props" />
        </div>
    </client-only>
</div>
