////
///
/// c-marquee
///
/// @group Components
///
////

$c-marquee-item-width: unitize(347px) !default;
$c-marquee-item-height: auto !default;
$c-marquee-item-margin-x: spacing('10') !default;
$c-marquee-item-margin: 0 $c-marquee-item-margin-x !default;
$c-marquee-item-veritcal-alignment: stretch !default;

$c-marquee-originWidth: $c-marquee-item-width + ( $c-marquee-item-margin-x * 2) !default;
:export {
    originWidth: $c-marquee-originWidth;
}

.c-marquee {
    // #region [Block]
    // #endregion

    // #region [Element]
    &__content {
        display: flex;
        align-items: $c-marquee-item-veritcal-alignment;
    }
    &__item {
        width: $c-marquee-item-width;
        height: $c-marquee-item-height;
        margin: $c-marquee-item-margin;
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-marquee) {
        @include c-marquee;
    }
    // #endregion

}
