<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-page>

        <module-content>

            <layout :layout="layout">

                <template v-slot:[getSlotName]>

                    <c-heading v-if="heading && (heading.overline || heading.headline || heading.subline)" :class="element('heading')" v-bind="heading" />

                    <c-text :class="element('text')" :text="text" :textColumns="textColumns" >
                        <slot />
                    </c-text>

                    <slot name="actions" />

                </template>

            </layout>

        </module-content>

    </module-page>

</module>
