////
///
/// Text Styles
///
/// @group Modules
///
////



.m-text {

    // #region [Block]
    // #endregion

    // #region [Element]
    .component-loader {
        margin-top: 0!important;

        > [class*=c-button] {
            @include responsive-spacing('xsmall', margin-top margin-right);
        }
    }

    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-text) {
        @include m-text;
    }
    // #endregion

}
