////
///
/// l-5-1-6 Layout Styles
///
/// Layout with 1 column in every Viewport.
///
/// @group Layouts
///
////

.l-5-1-6 {

    // #region [Block]
    // #endregion

    // #region [Element]
    > * {
        @include grid-cell-size(12);
    }

    @include above('s') {

        &__column-1 {
            @include grid-cell-position(1,1);
            @include grid-cell-size(5)
        }

        &__column-2 {
            @include grid-cell-position(6,1);
            @include grid-cell-size(1)
        }

        &__column-3 {
            @include grid-cell-position(7,1);
            @include grid-cell-size(6)
        }

    }
    // #endregion

    // #region [Modifier]
    // #endregion

}
