////
///
/// m-divider
///
/// @group Modules
///
////

$m-divider-line-minwidth: 10% !default;
$m-divider-line-color-theme: 'divider-line' !default;
$m-divider-title-margin: spacing('16') !default;
$m-divider-title-font: font($default-font-family, 'bold', '14', 1.2 ) !default;
$m-divider-title-color-theme: 'divider-title' !default;

.m-divider {
    // #region [Block]
    // #endregion

    // #region [Element]
    &__bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__line {
        display: block;
        width: 100%;
        height: 1px;
        min-width: $m-divider-line-minwidth;
        border: none;
        outline: none;
        @include color-theme($m-divider-line-color-theme);
    }
    &__headline {
        width: auto;
        max-width: #{calc(100% - $m-divider-line-minwidth - $m-divider-line-minwidth - $m-divider-title-margin)};
        margin: 0 $m-divider-title-margin;
        font: $m-divider-title-font;
        text-align: center;
        flex-shrink: 0;
        @include color-theme($m-divider-title-color-theme);
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-divider) {
        @include m-divider;
    }
    // #endregion

}
