<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <component :is="'module-' + layoutArea">

        <div :class="element('bar')">
            <hr :class="element('line')">
            <strong v-if="headline" :class="element('headline')" v-html="headline" />
            <hr :class="element('line')">
        </div>

    </component>

</module>
