////
///
/// Animation Config
///
/// @group Configuration
/// @since 1.0.0
///
////


///
/// Default animation durations
/// Alias for js import: 'defaultAnimationDuration'
/// @type number
///
$default-animation-duration: 200ms !default;


///
/// Default replace transtion durations
/// Alias for js import: 'defaultReplaceDuration'
/// @type number
///
$default-replace-enter-duration: 500ms !default;
$default-replace-leave-duration: 300ms !default;
