////
///
/// Color Config
///
/// @group Configuration
/// @since 1.0.0
///
////


///
/// Private color getter.
/// Don´t use it the project. Use "color(xxx)" instead.
/// @param {string} $color-name - Name of the color
///
/// @return {string} Hexcode
///
@function _color($color-name) {
    @return map-get(map-merge($color-base, $color-derivates), $color-name);
}


///
/// Base color configuration.
/// Configuration of all standardized colors you can use with the color function.
/// Alias for js import: 'colorBases'
/// Alias to import all colors in js: 'colors'
/// @type array
///
$color-base: () !default;
$color-base: map-merge((
    'white'            : #ffffff,
    'black'            : #000000,
    'primary'          : #0374FF,
    'secondary'        : #FF0F3C,
    'dark'             : #0A0A0A,
    'dark-deco'        : #1E1E1E,
    'dark-font'        : #ffffff,
    'medium'           : #F5F5F5,
    'medium-deco'      : #E9E9E9,
    'medium-font'      : #1E1E1E,
    'light'            : #ffffff,
    'light-deco'       : #F5F5F5,
    'light-font'       : #1E1E1E,
    'disabled'         : #E8E8E8,
    'disabled-selected': #BABABA,
    'error'            : #FF0F3C,
    'success'          : #99D717
), $color-base);


///
/// Derivate color configuration.
/// Configuration of all modified colors from the base color array you can use with the color function.
/// Alias for js import: 'colorDerivates'
/// Alias to import all colors in js: 'colors'
/// @type array
///
$color-derivates: () !default;
$color-derivates: map-merge((

    'outline'                              : rgba(#a2a2a2, .33),
    'overlay'                              : rgba(_color('black'), .75),

    'primary:05:alpha'                     : rgba(_color('primary'), .05),
    'primary:10:alpha'                     : rgba(_color('primary'), .10),
    'primary:15:alpha'                     : rgba(_color('primary'), .15),
    'primary:25:alpha'                     : rgba(_color('primary'), .25),
    'primary:33:alpha'                     : rgba(_color('primary'), .33),
    'primary:50:alpha'                     : rgba(_color('primary'), .50),
    'primary:75:alpha'                     : rgba(_color('primary'), .75),

    'primary:15:darken'                    : mix(_color('black'), _color('primary'), 15%),

    'white:05:alpha'                       : rgba(_color('white'), .05),
    'white:10:alpha'                       : rgba(_color('white'), .10),
    'white:15:alpha'                       : rgba(_color('white'), .15),
    'white:25:alpha'                       : rgba(_color('white'), .25),
    'white:33:alpha'                       : rgba(_color('white'), .33),
    'white:50:alpha'                       : rgba(_color('white'), .50),
    'white:75:alpha'                       : rgba(_color('white'), .75),

    'white:10:darken'                      : mix(_color('black'), _color('white'), 10%),

    'black:05:alpha'                       : rgba(_color('black'), .05),
    'black:10:alpha'                       : rgba(_color('black'), .10),
    'black:15:alpha'                       : rgba(_color('black'), .15),
    'black:25:alpha'                       : rgba(_color('black'), .25),
    'black:33:alpha'                       : rgba(_color('black'), .33),
    'black:50:alpha'                       : rgba(_color('black'), .50),
    'black:75:alpha'                       : rgba(_color('black'), .75),

    'light:05:alpha'                       : rgba(_color('light'), .05),
    'light:10:alpha'                       : rgba(_color('light'), .10),
    'light:15:alpha'                       : rgba(_color('light'), .15),
    'light:25:alpha'                       : rgba(_color('light'), .25),
    'light:33:alpha'                       : rgba(_color('light'), .33),
    'light:50:alpha'                       : rgba(_color('light'), .50),
    'light:75:alpha'                       : rgba(_color('light'), .75),

    'dark:05:alpha'                        : rgba(_color('dark'), .05),
    'dark:10:alpha'                        : rgba(_color('dark'), .10),
    'dark:15:alpha'                        : rgba(_color('dark'), .15),
    'dark:25:alpha'                        : rgba(_color('dark'), .25),
    'dark:33:alpha'                        : rgba(_color('dark'), .33),
    'dark:50:alpha'                        : rgba(_color('dark'), .50),
    'dark:75:alpha'                        : rgba(_color('dark'), .75)

), $color-derivates);


///
/// Color palette configuration.
/// Configuration of all color sets.
/// Alias for js import: 'colorPalettes'
/// @type array
///
$color-palettes: () !default;
$color-palettes: map-merge((

    /// Background Themes
    'background': (
        light: (
            background-color: 'light'
        ),
        medium: (
            background-color: 'medium'
        ),
        dark: (
            background-color: 'dark'
        )
    ),
    'background-deco': (
        light: (
            background-color: 'light-deco'
        ),
        medium: (
            background-color: 'medium-deco'
        ),
        dark: (
            background-color: 'dark-deco'
        )
    ),

    /// Content/Text Themes
    'overline': (
        light: (
            color: 'dark:50:alpha'
        ),
        medium: (
            color: 'dark:50:alpha'
        ),
        dark: (
            color: 'white:75:alpha'
        )
    ),
    'headline': (
        light: (
            color: 'light-font'
        ),
        medium: (
            color: 'medium-font'
        ),
        dark: (
            color: 'dark-font'
        )
    ),
    'copytext': (
        light: (
            color: 'light-font'
        ),
        medium: (
            color: 'medium-font'
        ),
        dark: (
            color: 'dark-font'
        )
    ),
    'link': (

        // Link state order rules
        // @see https://www.w3schools.com/css/css_link.asp
        light: (
            color: (
                'default': 'primary',
                ':active': 'primary',
                ':visited': 'primary',
            ),
            border-bottom: (
                'default': 2px solid transparent,
                ':hover': 2px solid _color('primary')
            )
        ),
        medium: (
            color: (
                'default': 'primary',
                ':active': 'primary',
                ':visited': 'primary',
            ),
            border-bottom: (
                'default': 2px solid transparent,
                ':hover': 2px solid _color('primary')
            )
        ),
        dark: (
            color: (
                'default': 'primary',
                ':active': 'primary',
                ':visited': 'primary',
            ),
            border-bottom: (
                'default': 2px solid transparent,
                ':hover': 2px solid _color('primary')
            )
        )
    ),
    'selectiontext': (
        light: (
            color: 'dark-font',
            background-color: 'primary'
        ),
        medium: (
            color: 'dark-font',
            background-color: 'primary'
        ),
        dark: (
            color: 'light-font',
            background-color: 'white'
        )
    ),
    'blockqoute': (
        light: (
            color: 'primary'
        ),
        medium: (
            color: 'primary'
        ),
        dark: (
            color: 'primary'
        )
    ),
    'icon': (
        light: (
            color: 'primary'
        ),
        medium: (
            color: 'primary'
        ),
        dark: (
            color: 'dark-font'
        )
    ),

    /// Media Helper Themes
    'media-overlay': (
        light: (
            background: linear-gradient(to bottom, _color('black:15:alpha'), _color('black:50:alpha'))
        ),
        medium: (
            background: linear-gradient(to bottom, _color('black:15:alpha'), _color('black:50:alpha'))
        ),
        dark: (
            background: linear-gradient(to bottom, _color('black:15:alpha'), _color('black:50:alpha'))
        )
    ),
    'skeleton': (
        light: (
            background-image: linear-gradient(270deg, _color('light') 0%, _color('light-deco') 50%, _color('light') 100%)
        ),
        medium: (
            background-image: linear-gradient(270deg, _color('medium') 0%, _color('medium-deco') 50%, _color('medium') 100%)
        ),
        dark: (
            background-image: linear-gradient(270deg, _color('dark') 0%, _color('dark-deco') 50%, _color('dark') 100%)
        )
    ),

    /// Button Color Themes
    'button-primary': (
        light: (
            color: 'white',
            background-color: (
                'default': 'primary',
                ':hover': 'primary:15:darken',
                ':active': 'primary:15:darken',
                ':active:hover': 'primary:15:darken',
                ':disabled': 'disabled',
                ':disabled:active': 'disabled-selected',
                ':disabled:selected': 'disabled-selected'
            )
        ),
        medium: (
            color: 'white',
            background-color: (
                'default': 'primary',
                ':hover': 'primary:15:darken',
                ':active': 'primary:15:darken',
                ':active:hover': 'primary:15:darken',
                ':disabled': 'disabled',
                ':disabled:active': 'disabled-selected',
                ':disabled:selected': 'disabled-selected'
            )
        ),
        dark: (
            color: (
                'default': 'primary',
                ':disabled': 'white',
                ':disabled:active': 'white',
                ':disabled:selected': 'white'
            ),
            background-color: (
                'default': 'white',
                ':hover': 'white:10:darken',
                ':active': 'white:10:darken',
                ':active:hover': 'white:10:darken',
                ':disabled': 'white:15:alpha',
                ':disabled:active': 'white:25:alpha',
                ':disabled:selected': 'white:25:alpha'
            )
        )
    ),
    'button-secondary': (
        light: (
            color: (
                'default': 'primary',
                ':disabled': 'disabled',
                ':disabled:active': 'disabled-selected',
                ':disabled:selected': 'disabled-selected'
            ),
            background-color: (
                'default': transparent,
                ':hover': 'primary:05:alpha',
                ':active': 'primary:05:alpha',
                ':active:hover': 'primary:05:alpha',
                ':disabled': transparent,
                ':disabled:active': transparent,
                ':disabled:selected': transparent
            ),
            border-color: (
                'default': 'primary',
                ':hover': 'primary:15:darken',
                ':disabled': 'disabled',
                ':disabled:active': 'disabled-selected',
                ':disabled:selected': 'disabled-selected'
            )
        ),
        medium: (
            color: (
                'default': 'primary',
                ':disabled': 'disabled',
                ':disabled:active': 'disabled-selected',
                ':disabled:selected': 'disabled-selected'
            ),
            background-color: (
                'default': transparent,
                ':hover': 'primary:05:alpha',
                ':active': 'primary:05:alpha',
                ':active:hover': 'primary:05:alpha',
                ':disabled': transparent,
                ':disabled:active': transparent,
                ':disabled:selected': transparent
            ),
            border-color: (
                'default': 'primary',
                ':hover': 'primary:15:darken',
                ':disabled': 'disabled',
                ':disabled:active': 'disabled-selected',
                ':disabled:selected': 'disabled-selected'
            )
        ),
        dark: (
            color: (
                'default': 'dark-font',
                ':disabled': 'white:25:alpha',
                ':disabled:active': 'white:33:alpha',
                ':disabled:selected': 'white:33:alpha'
            ),
            background-color: (
                'default': transparent,
                ':hover': 'white:15:alpha',
                ':active': 'white:15:alpha',
                ':active:hover': 'white:15:alpha',
                ':disabled': transparent,
                ':disabled:active': transparent,
                ':disabled:selected': transparent
            ),
            border-color: (
                'default': 'white',
                ':hover': 'white',
                ':disabled': 'white:25:alpha',
                ':disabled:active': 'white:33:alpha',
                ':disabled:selected': 'white:33:alpha'
            )
        )
    ),
    'button-pill-dark': (
        light: (
            color: 'white',
            background-color: (
                'default': _color('black:33:alpha'),
                ':hover': lighten(_color('black:33:alpha'), 20%),
                ':active': lighten(_color('black:33:alpha'), 20%),
                ':active:hover': lighten(_color('black:33:alpha'), 20%)
            )
        ),
        medium: (
            color: 'white',
            background-color: (
                'default': _color('black:33:alpha'),
                ':hover': lighten(_color('black:33:alpha'), 20%),
                ':active': lighten(_color('black:33:alpha'), 20%),
                ':active:hover': lighten(_color('black:33:alpha'), 20%)
            )
        ),
        dark: (
            color: 'white',
            background-color: (
                'default': _color('black:33:alpha'),
                ':hover': lighten(_color('black:33:alpha'), 20%),
                ':active': lighten(_color('black:33:alpha'), 20%),
                ':active:hover': lighten(_color('black:33:alpha'), 20%)
            )
        )
    ),
    'button-icon': (
        light: (
            color: (
                'default': rgba(_color('light-font'), .50),
                ':hover': 'light-font',
                ':active': 'light-font',
                ':disabled': rgba(_color('light-font'), .15),
                ':disabled:active': rgba(_color('light-font'), .15),
                '.disabled': rgba(_color('light-font'), .15)
            ),
            background-color: (
                'default': transparent,
                ':hover': rgba(_color('disabled-selected'),.15),
                ':active': rgba(_color('disabled-selected'),.15),
                ':active:hover': rgba(_color('disabled-selected'),.15),
                ':disabled': transparent,
                ':disabled:active': transparent,
                '.disabled': transparent
            )
        ),
        medium: (
            color: (
                'default': rgba(_color('medium-font'), .50),
                ':hover': 'medium-font',
                ':active': 'medium-font',
                ':disabled': rgba(_color('medium-font'), .15),
                ':disabled:active': rgba(_color('medium-font'), .15),
                '.disabled': rgba(_color('medium-font'), .15)
            ),
            background-color: (
                'default': transparent,
                ':hover': rgba(_color('disabled-selected'),.15),
                ':active': rgba(_color('disabled-selected'),.15),
                ':active:hover': rgba(_color('disabled-selected'),.15),
                ':disabled': transparent,
                ':disabled:active': transparent,
                '.disabled': transparent
            )
        ),
        dark: (
            color: (
                'default': rgba(_color('dark-font'), .50),
                ':hover': 'dark-font',
                ':active': 'dark-font',
                ':disabled': rgba(_color('dark-font'), .15),
                ':disabled:active': rgba(_color('dark-font'), .15),
                '.disabled': rgba(_color('dark-font'), .15)
            ),
            background-color: (
                'default': transparent,
                ':hover': rgba(_color('disabled-selected'),.15),
                ':active': rgba(_color('disabled-selected'),.15),
                ':active:hover': rgba(_color('disabled-selected'),.15),
                ':disabled': transparent,
                ':disabled:active': transparent,
                '.disabled': transparent
            )
        ),
    ),
    'button-text': (
        light: (
            color: (
                'default': 'light-font',
                ':active': 'white',
                ':disabled': rgba(_color('light-font'), .33),
                ':disabled:selected': rgba(_color('light-font'), .33)
            ),
            background-color: (
                'default': transparent,
                ':hover': 'dark:15:alpha',
                ':active': 'primary',
                ':active:hover': 'primary',
                ':disabled': transparent,
                ':disabled:active': 'dark:05:alpha',
                ':disabled:selected': 'dark:05:alpha'
            )
        ),
        medium: (
            color: (
                'default': 'medium-font',
                ':active': 'white',
                ':disabled': rgba(_color('medium-font'), .33),
                ':disabled:selected': rgba(_color('medium-font'), .33)
            ),
            background-color: (
                'default': transparent,
                ':hover': 'dark:15:alpha',
                ':active': 'primary',
                ':active:hover': 'primary',
                ':disabled': transparent,
                ':disabled:active': 'dark:05:alpha',
                ':disabled:selected': 'dark:05:alpha'
            )
        ),
        dark: (
            color: (
                'default': 'dark-font',
                ':active': 'white',
                ':disabled': rgba(_color('dark-font'), .33),
                ':disabled:selected': rgba(_color('dark-font'), .33)
            ),
            background-color: (
                'default': transparent,
                ':hover': 'white:15:alpha',
                ':active': 'primary',
                ':active:hover': 'primary',
                ':disabled': transparent,
                ':disabled:active': 'dark:05:alpha',
                ':disabled:selected': 'dark:05:alpha'
            )
        ),
    ),

    /// Text Input Color Themes
    'input-underlined': (
        light: (
            color: (
                'default': 'light-font',
                ' + *': rgba(_color('light-font'), .50),
                ':disabled': rgba(_color('light-font'), .25),
                ':disabled + *': rgba(_color('light-font'), .25),
                ':invalid': 'error',
                ':invalid + *': 'error',
                '.error': 'error',
                '.error + *': 'error',
            ),
            border-color: (
                'default': 'dark:25:alpha',
                ':not([value=""])': 'dark:50:alpha',
                ':-webkit-autofill': 'dark:50:alpha',
                ':focus': _color('dark'),
                ':disabled': 'dark:15:alpha',
                ':invalid': 'error',
                ':invalid + *': 'error',
                '.error': 'error',
                '.error + *': 'error',
            ),
            caret-color: 'light-font',
            -webkit-text-fill-color: (
                ':-webkit-autofill': 'light-font',
                ':-webkit-autofill::selection': 'dark-font',
            ),
        ),
        medium: (
            color: (
                'default': 'medium-font',
                ' + *': rgba(_color('medium-font'), .50),
                ':disabled': rgba(_color('medium-font'), .25),
                ':disabled + *': rgba(_color('medium-font'), .25),
                ':invalid': 'error',
                ':invalid + *': 'error',
                '.error': 'error',
                '.error + *': 'error',
            ),
            border-color: (
                'default': 'dark:25:alpha',
                ':not([value=""])': 'dark:50:alpha',
                ':-webkit-autofill': 'dark:50:alpha',
                ':focus': _color('dark'),
                ':disabled': 'dark:15:alpha',
                ':invalid': 'error',
                ':invalid + *': 'error',
                '.error': 'error',
                '.error + *': 'error',
            ),
            caret-color: 'medium-font',
            -webkit-text-fill-color: (
                ':-webkit-autofill': 'medium-font',
                ':-webkit-autofill::selection': 'dark-font',
            )
        ),
        dark: (
            color: (
                'default': 'dark-font',
                ' + *': rgba(_color('dark-font'), .50),
                ':disabled': rgba(_color('dark-font'), .25),
                ':disabled + *': rgba(_color('dark-font'), .25),
                ':invalid': 'error',
                ':invalid + *': 'error',
                '.error': 'error',
                '.error + *': 'error',
            ),
            border-color: (
                'default': rgba(_color('white'), .25),
                ':not([value=""])': rgba(_color('white'), .50),
                ':-webkit-autofill': rgba(_color('white'), .50),
                ':focus': _color('white'),
                ':disabled': rgba(_color('white'), .15),
                ':invalid': 'error',
                ':invalid + *': 'error',
                '.error': 'error',
                '.error + *': 'error',
            ),
            caret-color: 'dark-font',
            -webkit-text-fill-color: (
                ':-webkit-autofill': 'dark-font',
                ':-webkit-autofill::selection': 'light-font',
            )
        )
    ),
    'input-boxed': (
        light: (
            color: (
                'default': 'light-font',
                ' ~ *': rgba(_color('light-font'), .50),
                ':disabled': rgba(_color('light-font'), .25),
                ':disabled ~ *': rgba(_color('light-font'), .25),
                ':invalid': 'error',
                ':invalid ~ *': 'error',
                '.error': 'error',
                '.error ~ *': 'error',
            ),
            border-color: (
                'default': 'dark:33:alpha',
                ' + * ~ *': 'dark:33:alpha',
                ':not([value=""])': 'dark:50:alpha',
                ':not([value=""]) + * ~ *': 'dark:50:alpha',
                ':-webkit-autofill': 'dark:50:alpha',
                ':focus': 'primary',
                ':focus + * ~ *': 'primary',
                ':hover': 'primary',
                ':hover + * ~ *': 'primary',
                ':disabled': 'dark:25:alpha',
                ':disabled + * ~ *': 'dark:25:alpha',
                ':invalid': 'error',
                ':invalid + * ~ *': 'error',
                '.error': 'error',
                '.error + * ~ *': 'error',
            ),
            background: (
                'default': 'dark:05:alpha',
                ' + * ~ *': 'dark:05:alpha',
                ':focus': 'primary:05:alpha',
                ':focus + * ~ *': 'primary:05:alpha',
                ':hover': 'primary:05:alpha',
                ':hover + * ~ *': 'primary:05:alpha',
                ':disabled': transparent,
                ':disabled + * ~ *': transparent,
            ),
            caret-color: 'light-font',
            -webkit-text-fill-color: (
                ':-webkit-autofill': 'light-font',
                ':-webkit-autofill::selection': 'dark-font',
            ),
            -webkit-box-shadow: (
                ':-webkit-autofill': 0 0 0 1000px _color('dark:05:alpha') inset,
                ':-webkit-autofill:hover': 0 0 0 1000px _color('dark:05:alpha') inset,
                ':-webkit-autofill:active': 0 0 0 1000px _color('dark:05:alpha') inset,
                ':-webkit-autofill:focus': 0 0 0 1000px _color('dark:05:alpha') inset,
                ':-webkit-autofill:first-line': 0 0 0 1000px _color('dark:05:alpha') inset,
            )
        ),
        medium: (
            color: (
                'default': 'light-font',
                ' ~ *': rgba(_color('light-font'), .50),
                ':disabled': rgba(_color('light-font'), .25),
                ':disabled ~ *': rgba(_color('light-font'), .25),
                ':invalid': 'error',
                ':invalid ~ *': 'error',
                '.error': 'error',
                '.error ~ *': 'error',
            ),
            border-color: (
                'default': 'dark:33:alpha',
                ' + * ~ *': 'dark:33:alpha',
                ':not([value=""])': 'dark:50:alpha',
                ':not([value=""]) + * ~ *': 'dark:50:alpha',
                ':-webkit-autofill': 'dark:50:alpha',
                ':focus': 'primary',
                ':focus + * ~ *': 'primary',
                ':hover': 'primary',
                ':hover + * ~ *': 'primary',
                ':disabled': 'dark:25:alpha',
                ':disabled + * ~ *': 'dark:25:alpha',
                ':invalid': 'error',
                ':invalid + * ~ *': 'error',
                '.error': 'error',
                '.error + * ~ *': 'error',
            ),
            background: (
                'default': 'dark:05:alpha',
                ' + * ~ *': 'dark:05:alpha',
                ':focus': 'primary:05:alpha',
                ':focus + * ~ *': 'primary:05:alpha',
                ':hover': 'primary:05:alpha',
                ':hover + * ~ *': 'primary:05:alpha',
                ':disabled': transparent,
                ':disabled + * ~ *': transparent,
            ),
            caret-color: 'medium-font',
            -webkit-text-fill-color: (
                ':-webkit-autofill': 'medium-font',
                ':-webkit-autofill::selection': 'dark-font',
            ),
            -webkit-box-shadow: (
                ':-webkit-autofill': 0 0 0 1000px _color('dark:05:alpha') inset,
                ':-webkit-autofill:hover': 0 0 0 1000px _color('dark:05:alpha') inset,
                ':-webkit-autofill:active': 0 0 0 1000px _color('dark:05:alpha') inset,
                ':-webkit-autofill:focus': 0 0 0 1000px _color('dark:05:alpha') inset,
                ':-webkit-autofill:first-line': 0 0 0 1000px _color('dark:05:alpha') inset,
            )
        ),
        dark: (
            color: (
                'default': 'dark-font',
                ' ~ *': rgba(_color('dark-font'), .33),
                ':disabled': rgba(_color('dark-font'), .25),
                ':disabled ~ *': rgba(_color('dark-font'), .25),
                ':invalid': 'error',
                ':invalid ~ *': 'error',
                '.error': 'error',
                '.error ~ *': 'error',
            ),
            border-color: (
                'default': 'light:33:alpha',
                ' + * ~ *': 'light:33:alpha',
                ':not([value=""])': 'light:75:alpha',
                ':not([value=""]) + * ~ *': 'light:75:alpha',
                ':-webkit-autofill': 'light:75:alpha',
                ':focus': 'primary',
                ':focus + * ~ *': 'primary',
                ':hover': 'primary',
                ':hover + * ~ *': 'primary',
                ':disabled': 'light:25:alpha',
                ':disabled + * ~ *': 'light:25:alpha',
                ':invalid': 'error',
                ':invalid + * ~ *': 'error',
                '.error': 'error',
                '.error + * ~ *': 'error',
            ),
            background: (
                'default': 'light:05:alpha',
                ' + * ~ *': 'light:05:alpha',
                ':focus': 'primary:05:alpha',
                ':focus + * ~ *': 'primary:05:alpha',
                ':hover': 'primary:05:alpha',
                ':hover + * ~ *': 'primary:05:alpha',
                ':disabled': transparent,
                ':disabled + * ~ *': transparent,
            ),
            caret-color: 'dark-font',
            -webkit-text-fill-color: (
                ':-webkit-autofill': 'dark-font',
                ':-webkit-autofill::selection': 'light-font',
            ),
            -webkit-box-shadow: (
                ':-webkit-autofill': 0 0 0 1000px _color('light:05:alpha') inset,
                ':-webkit-autofill:hover': 0 0 0 1000px _color('light:05:alpha') inset,
                ':-webkit-autofill:active': 0 0 0 1000px _color('light:05:alpha') inset,
                ':-webkit-autofill:focus': 0 0 0 1000px _color('light:05:alpha') inset,
                ':-webkit-autofill:first-line': 0 0 0 1000px _color('light:05:alpha') inset,
            )
        )
    ),

    /// Dropdown Input Color Theme
    'dropdown-underlined': (
        light: (
            color: (
                'default': 'primary',
                ' ~ *': rgba(_color('light-font'), .50),
                '--disabled': rgba(_color('light-font'), .15),
                '--disabled ~ *': rgba(_color('light-font'), .15),
            ),
            border-color: (
                'default': 'primary',
                '--disabled': 'dark:15:alpha',
            ),
            background: (
                ':hover:after': 'primary:05:alpha',
                '__tag': 'primary:05:alpha',
            )
        ),
        medium: (
            color: (
                'default': 'primary',
                ' ~ *': rgba(_color('light-font'), .50),
                '--disabled': rgba(_color('light-font'), .15),
                '--disabled ~ *': rgba(_color('light-font'), .15),
            ),
            border-color: (
                'default': 'primary',
                '--disabled': 'dark:15:alpha',
            ),
            background: (
                ':hover:after': 'primary:05:alpha',
                '__tag': 'primary:05:alpha',
            )
        ),
        dark: (
            color: (
                'default': 'primary',
                ' ~ *': rgba(_color('dark-font'), .50),
                '--disabled': rgba(_color('dark-font'), .25),
                '--disabled ~ *': rgba(_color('dark-font'), .25),
            ),
            border-color: (
                'default': 'primary',
                '--disabled': rgba(_color('dark-font'), .25),
            ),
            background: (
                '__tag': 'primary:05:alpha'
            )
        )
    ),
    'dropdown-underlined-content': (
        light: (
            color: (
                'default': 'light-font',
                ' .multiselect__option:hover': 'primary',
                ' .multiselect__option--selected': 'primary',
            ),
            background: 'medium'
        ),
        medium: (
            color: (
                'default': 'light-font',
                ' .multiselect__option:hover': 'primary',
                ' .multiselect__option--selected': 'primary',
            ),
            background: 'light'
        ),
        dark: (
            color: (
                'default': 'light-font',
                ' .multiselect__option:hover': 'primary',
                ' .multiselect__option--selected': 'primary',
            ),
            background: 'light'
        )
    ),

    'dropdown-boxed': (
        light: (
            color: (
                'default': 'light-font',
                ' ~ *': rgba(_color('light-font'), .50),
                '__placeholder': rgba(_color('light-font'), .50),
                '--disabled': rgba(_color('light-font'), .15),
                '--disabled ~ *': rgba(_color('light-font'), .15),
                '--active': 'dark-font',
                '--active .multiselect__placeholder': 'dark-font',
            ),
            border-color: (
                'default': rgba(_color('light-font'), .50),
                '--disabled': 'dark:15:alpha',
                '--active': 'primary',
                ':hover': 'primary',
            ),
            background: (
                ':hover:after': 'primary:05:alpha',
                '__tag': 'dark:10:alpha',
                '--active:after': 'primary',
                '--active:hover:after': 'primary',
            )
        ),
        medium: (
            color: (
                'default': 'medium-font',
                ' ~ *': rgba(_color('medium-font'), .50),
                '__placeholder': rgba(_color('medium-font'), .50),
                '--disabled': rgba(_color('medium-font'), .15),
                '--disabled ~ *': rgba(_color('medium-font'), .15),
                '--active': 'dark-font',
                '--active .multiselect__placeholder': 'dark-font',
            ),
            border-color: (
                'default': rgba(_color('medium-font'), .50),
                '--disabled': 'dark:15:alpha',
                '--active': 'primary',
                ':hover': 'primary',
            ),
            background: (
                ':hover:after': 'primary:05:alpha',
                '__tag': 'dark:10:alpha',
                '--active:after': 'primary',
                '--active:hover:after': 'primary',
            )
        ),
        dark: (
            color: (
                'default': 'dark-font',
                ' ~ *': rgba(_color('dark-font'), .50),
                '__placeholder': rgba(_color('dark-font'), .50),
                '--disabled': rgba(_color('dark-font'), .15),
                '--disabled ~ *': rgba(_color('dark-font'), .15),
                '--active': 'dark-font',
                '--active .multiselect__placeholder': 'dark-font',
            ),
            border-color: (
                'default': rgba(_color('dark-font'), .50),
                '--disabled': 'light:15:alpha',
                '--active': 'primary',
                ':hover': 'primary',
            ),
            background: (
                ':hover:after': transparent,
                '__tag': 'light:10:alpha',
                '--active:after': 'primary',
                '--active:hover:after': 'primary'
            )
        )
    ),
    'dropdown-boxed-content': (
        light: (
            color: (
                'default': 'light-font',
                ' .multiselect__option:hover': 'primary',
                ' .multiselect__option--selected': 'primary',
            ),
            background: 'light',
            border-color: 'dark:33:alpha',
        ),
        medium: (
            color: (
                'default': 'medium-font',
                ' .multiselect__option:hover': 'primary',
                ' .multiselect__option--selected': 'primary',
            ),
            background: 'light',
            border-color: 'dark:33:alpha',
        ),
        dark: (
            color: (
                'default': 'dark-font',
                ' .multiselect__option:hover': 'primary',
                ' .multiselect__option--selected': 'primary',
            ),
            background: 'dark',
            border-color: 'light:33:alpha',
        )
    ),

    /// Checkbox Input Color Theme
    'checkbox': (
        light: (
            border-color: 'primary',
            background: 'white'
        ),
        medium: (
            border-color: 'primary',
            background: 'white'
        ),
        dark: (
            border-color: 'primary',
            background: 'white'
        )
    ),
    'checkbox:checked': (
        light: (
            color: 'primary'
        ),
        medium: (
            color: 'primary'
        ),
        dark: (
            color: 'primary'
        )
    ),
    'checkbox:disabled': (
        light: (
            border-color: 'disabled'
        ),
        medium: (
            border-color: 'disabled'
        ),
        dark: (
            border-color: rgba(_color('disabled'), .25),
            background: rgba(_color('disabled'), .10)
        )
    ),
    'checkbox:disabled:checked': (
        light: (
            border-color: 'disabled-selected',
            color: 'disabled-selected'
        ),
        medium: (
            border-color: 'disabled-selected',
            color: 'disabled-selected'
        ),
        dark: (
            border-color: rgba(_color('disabled-selected'), .50),
            color: rgba(_color('disabled-selected'), .50),
            background: rgba(_color('disabled-selected'), .10)
        )
    ),
    'checkbox:error': (
        light: (
            border-color: 'error',
            color: 'error'
        ),
        medium: (
            border-color: 'error',
            color: 'error'
        ),
        dark: (
            border-color: 'error',
            color: 'error'
        )
    ),
    'checkbox:success': (
        light: (
            border-color: 'success',
            color: 'success'
        ),
        medium: (
            border-color: 'success',
            color: 'success'
        ),
        dark: (
            border-color: 'success',
            color: 'success'
        )
    ),

    /// Radiobox Input Color Theme
    'radiobox': (
        light: (
            border-color: 'primary'
        ),
        medium: (
            border-color: 'primary'
        ),
        dark: (
            border-color: 'primary'
        )
    ),
    'radiobox:checked': (
        light: (
            color: 'primary'
        ),
        medium: (
            color: 'primary'
        ),
        dark: (
            color: 'primary'
        )
    ),
    'radiobox:disabled': (
        light: (
            border-color: 'disabled'
        ),
        medium: (
            border-color: 'disabled'
        ),
        dark: (
            border-color: rgba(_color('disabled'), .25),
            background: rgba(_color('disabled'), .10)
        )
    ),
    'radiobox:disabled:checked': (
        light: (
            border-color: 'disabled-selected',
            color: 'disabled-selected'
        ),
        medium: (
            border-color: 'disabled-selected',
            color: 'disabled-selected'
        ),
        dark: (
            border-color: rgba(_color('disabled-selected'), .50),
            color: rgba(_color('disabled-selected'), .50),
            background: rgba(_color('disabled-selected'), .10)
        )
    ),
    'radiobox:error': (
        light: (
            border-color: 'error',
            color: 'error'
        ),
        medium: (
            border-color: 'error',
            color: 'error'
        ),
        dark: (
            border-color: 'error',
            color: 'error'
        )
    ),
    'radiobox:success': (
        light: (
            border-color: 'success',
            color: 'success'
        ),
        medium: (
            border-color: 'success',
            color: 'success'
        ),
        dark: (
            border-color: 'success',
            color: 'success'
        )
    ),

    /// Range Input Color Theme
    'range': (
        light: (
            color: 'primary',
            border-color: 'light-deco',
            background-color: 'light-deco',
        ),
        medium: (
            color: 'primary',
            border-color: 'white',
            background-color: 'white',
        ),
        dark: (
            color: 'primary',
            border-color: 'medium',
            background-color: 'medium',
        )
    ),
    'range:disabled': (
        light: (
            color: 'disabled-selected'
        ),
        medium: (
            color: 'disabled-selected'
        ),
        dark: (
            color: 'disabled-selected'
        )
    ),
    'range-knob': (
        light: (
            color: 'white',
            background-color: 'primary',
        ),
        medium: (
            color: 'white',
            background-color: 'primary',
        ),
        dark: (
            color: 'white',
            background-color: 'primary',
        )
    ),
    'range-knob:disabled': (
        light: (
            color: 'white:33:alpha',
            background-color: 'disabled-selected',
        ),
        medium: (
            color: 'white:33:alpha',
            background-color: 'disabled-selected',
        ),
        dark: (
            color: 'white:33:alpha',
            background-color: 'disabled-selected',
        )
    ),
    'range-knob:hover': (
        light: (
            color: 'white',
            background-color: mix(_color('black'), _color('primary'), 10%),
        ),
        medium: (
            color: 'white',
            background-color: mix(_color('black'), _color('primary'), 10%),
        ),
        dark: (
            color: 'white',
            background-color: mix(_color('black'), _color('primary'), 10%),
        )
    ),
    'range-knob:active': (
        light: (
            color: 'white',
            background-color: mix(_color('black'), _color('primary'), 10%),
        ),
        medium: (
            color: 'white',
            background-color: mix(_color('black'), _color('primary'), 10%),
        ),
        dark: (
            color: 'white',
            background-color: mix(_color('black'), _color('primary'), 10%),
        )
    ),

    /// Pseudo Color Theme
    'focus': (
        light: (
            box-shadow: 0 0 0 6px _color('outline')
        ),
        medium: (
            box-shadow: 0 0 0 6px _color('outline')
        ),
        dark: (
            box-shadow: 0 0 0 6px _color('outline')
        )
    ),

    /// Table Color Themes
    'table': (
        light: (
            border-color: 'black:33:alpha'
        ),
        medium: (
            border-color: 'black:33:alpha'
        ),
        dark: (
            border-color: 'white:33:alpha'
        )
    ),

    /// Tooltip Component Color Themes
    'tooltip': (
        light: (
            background-color: 'primary',
            color: 'dark-font'
        ),
        medium: (
            background-color: 'primary',
            color: 'dark-font'
        ),
        dark: (
            background-color: 'light',
            color: 'light-font'
        )
    ),

    /// Modal Color Theme
    'modal': (
        light: (
            color: 'light-font',
            background: 'white',
        )
    ),

    /// Slider Module Color Themes
    'slider-bullet': (
        light: (
            background-color: 'dark:10:alpha'
        ),
        medium: (
            background-color: 'dark:10:alpha'
        ),
        dark: (
            background-color: 'light:10:alpha'
        )
    ),
    'slider-bullet:active': (
        light: (
            background-color: 'dark'
        ),
        medium: (
            background-color: 'dark'
        ),
        dark: (
            background-color: 'light'
        )
    ),
    'slider-controls-fraction': (
        light: (
            background: 'dark:10:alpha'
        ),
        medium: (
            background: 'dark:10:alpha'
        ),
        dark: (
            background: 'light:10:alpha'
        )
    ),
    'slide-control-color': (
        light: (
            color: 'dark'
        ),
        medium: (
            color: 'dark'
        ),
        dark: (
            color: 'white'
        )
    ),

    /// Tab Module Color Themes
    'tab-title': (
        light: (
            color: (
                'default': 'light-font',
                ':hover': 'primary',
                '--active': 'primary',
            ),
            background-color: (
                'default': transparent,
                ':after': 'primary'
            )
        ),
        medium: (
            color: (
                'default': 'medium-font',
                ':hover': 'primary',
                '--active': 'primary',
            ),
            background-color: (
                'default': transparent,
                ':after': 'primary'
            )
        ),
        dark: (
            color: (
                'default': 'dark-font',
                ':hover': 'primary',
                '--active': 'primary',
            ),
            background-color: (
                'default': transparent,
                ':after': 'primary'
            )
        )
    ),
    'tab-thumbnail': (
        light: (
            box-shadow: (
                ':after': inset 0 0 0 2px transparent,
                ':hover:after': inset 0 0 0 2px _color('primary'),
                '--active:after': inset 0 0 0 2px _color('primary')
            )
        ),
        medium: (
            box-shadow: (
                ':after': inset 0 0 0 2px transparent,
                ':hover:after': inset 0 0 0 2px _color('primary'),
                '--active:after': inset 0 0 0 2px _color('primary')
            )
        ),
        dark: (
            box-shadow: (
                ':after': inset 0 0 0 2px transparent,
                ':hover:after': inset 0 0 0 2px _color('white'),
                '--active:after': inset 0 0 0 2px _color('white')
            )
        )
    ),

    /// Accordion Module Color Themes
    'accordion-panel': (
        light: (
            border-color: (
                'default': 'dark:33:alpha',
            )
        ),
        medium: (
            border-color: (
                'default': rgba(_color('medium'), .33),
            )
        ),
        dark: (
            border-color: (
                'default': 'light:33:alpha',
            )
        )
    ),
    'accordion-toggle-icon': (
        light: (
            color: rgba(_color('light-font'), .50),
            background: transparent
        ),
        medium: (
            color: rgba(_color('medium-font'), .50),
            background: transparent
        ),
        dark: (
            color: rgba(_color('dark-font'), .50),
            background: transparent
        )
    ),
    'accordion-toggle-icon:hover': (
        light: (
            color: rgba(_color('light-font'), .50),
            background: rgba(_color('light-font'),.15)
        ),
        medium: (
            color: rgba(_color('medium-font'), .50),
            background: rgba(_color('light-font'),.15)
        ),
        dark: (
            color: rgba(_color('dark-font'), .50),
            background: rgba(_color('dark-font'),.15)
        )
    ),

    /// Hotspot Color Themes
    'hotspot': (
        light: (
            background-color: (
                ':after': 'white'
            )
        ),
        medium: (
            background-color: (
                ':after': 'white'
            )
        ),
        dark: (
            background-color: (
                ':after': 'white'
            )
        )
    ),

    /// Divider Color Themes
    'divider-line': (
        light: (
            background: 'dark:10:alpha'
        ),
        medium: (
            background: 'dark:10:alpha'
        ),
        dark: (
            background: 'light:10:alpha'
        )
    ),
    'divider-title': (
        light: (
            color: 'dark:50:alpha'
        ),
        medium: (
            color: 'dark:50:alpha'
        ),
        dark: (
            color: 'light:50:alpha'
        )
    ),

    /// Anchor Navigation Module Color Themes
    'anchor-navigation-border': (
        light: (
            background-color: 'black:10:alpha'
        ),
        medium: (
            background-color: 'black:10:alpha'
        ),
        dark: (
            background-color: 'white:10:alpha'
        )
    ),
    'anchor-navigation-link': (
        light: (
            color: (
                'default': 'light-font',
                ':hover': 'light-font'
            ),
            background-color: (
                ':hover:after': 'light-font'
            )
        ),
        medium: (
            color: (
                'default': 'medium-font',
                ':hover': 'medium-font'
            ),
            background-color: (
                ':hover:after': 'medium-font'
            )
        ),
        dark: (
            color: (
                'default': 'black:05:alpha',
                ':hover': 'white'
            ),
            background-color: (
                ':hover:after': 'white'
            )
        )
    )

), $color-palettes);
