////
///
/// Page Config
///
/// @group Configuration
/// @since 2.3.0
///
////


///
/// Basic border-radius of the modules
/// Alias for js import: 'basicBorderRadius'
/// @type number
///
$basic-border-radius: 7px !default;


///
/// Max width of the page area
/// Alias for js import: 'maxPageWidth'
/// @type number
///
$max-page-width: 1920px !default;


///
/// Basic width of the content area for calculations
/// Alias for js import: 'basicContentWidth'
/// @type number
///
$basic-content-width: 1080px !default;


///
/// Responsive declaration of the site area columns
///
/// Declaration key can be breakpoint string or absolute number
/// 'viewport' defines the width of the viewport area
/// 'page' defines the width of the page area
/// 'content' defines the width of the content area
///
/// Alias for js import: 'siteAreaColumns'
/// @type Array
///
$site-area-columns: () !default;
$site-area-columns: map-merge((
    'default': (
        'viewport': 0,
        'page': 20px,
        'content': 1fr
    ),
    'xs': (
        'viewport': 0,
        'page': 27px,
        'content': 1fr
    ),
    's': (
        'viewport': 27px,
        'page': 44px,
        'content': 1fr
    ),
    'm': (
        'viewport': 27px,
        'page': 71px,
        'content': 1fr
    ),
    ($basic-content-width + (2 * 71px) + (2 * 27px)): (
        'viewport': 1fr,
        'page': minmax(71px, 1fr),
        'content': $basic-content-width
    ),
    'xxxl': (
        'viewport': 1fr,
        'page': minmax(71px, 1fr),
        'content': 1400px
    )
), $site-area-columns);
