////
///
/// Spacing Config
///
/// @group Configuration
/// @since 1.0.0
///
////


///
/// Debug Spacings.
/// Shows a fixed Info layer on every element with the active spacings information.
/// @type bool
///
$debug-spacings: false !default;


///
/// Spacing configuration.
/// Configuration of all standardized spacings you can use with the spacing function.
/// Alias for js import: 'spacingConfig'
/// @type array
///
$spacing-config: () !default;
$spacing-config: map-merge((
    '0': 0,
    '2': 2px,
    '3': 3px,
    '6': 6px,
    '10': 10px,
    '16': 16px,
    '20': 20px,
    '27': 27px,
    '44': 44px,
    '71': 71px,
    '115': 115px,
    '186': 186px,
    '301': 301px,
    '487': 487px
), $spacing-config);


///
/// Responsive spacing configuration.
/// Configuration of all standardized responsive spacings you can use.
/// Can configure with spacing config keys.
/// Alias for js import: 'responsiveSpacingConfig'
/// @type array
///
$responsive-spacing-config: () !default;
$responsive-spacing-config: map-merge((
    'none': (
        'default': '0'
    ),
    'xtiny': (
        'default': '6',
        'm': '10',
        'xxl': '10',
        'xxxl': '16'
    ),
    'tiny': (
        'default': '10',
        'm': '20',
        'xxl': '20',
        'xxxl': '27'
    ),
    'xxsmall': (
        'default': '16',
        'm': '20',
        'xxl': '20',
        'xxxl': '27'
    ),
    'xsmall': (
        'default': '20',
        'm': '27',
        'xxl': '27',
        'xxxl': '44'
    ),
    'small': (
        'default': '27',
        'm': '44',
        'xxl': '44',
        'xxxl': '71'
    ),
    'medium': (
        'default': '44',
        'm': '71',
        'xxl': '71',
        'xxxl': '115'
    ),
    'large': (
        'default': '71',
        'm': '115',
        'xxl': '115',
        'xxxl': '186'
    ),
    'xlarge': (
        'default': '71',
        'm': '115',
        'xl': '186'
    )
), $responsive-spacing-config);


///
/// Responsive heading spacing configuration.
/// Configuration of all responsive spacings for headings you can use.
/// Can configure with spacing config keys.
/// Alias for js import: 'responsiveHeadingSpacingConfig'
/// @type array
///
$responsive-heading-spacing-config: () !default;
$responsive-heading-spacing-config: map-merge((
    'h0': (
        'default': '16',
        'm': '27',
        'xxxl': '44'
    ),
    'h1': (
        'default': '16',
        'm': '27',
        'xxxl': '44'
    ),
    'h2': (
        'default': '16',
        'm': '27',
        'xxxl': '44'
    ),
    'h3': (
        'default': '16',
        'm': '20',
        'xxxl': '27'
    ),
    'h4': (
        'default': '10',
        'm': '16',
        'xxxl': '20'
    ),
    'h5': (
        'default': '10',
        'm': '16',
        'xxxl': '20'
    ),
    'h6': (
        'default': '10',
        'm': '16',
        'xxxl': '20'
    )
), $responsive-heading-spacing-config);
