////
///
/// Typography Config
///
/// @group Configuration
/// @since 1.0.0
///
////


///
/// Project Unit Format.
/// Type of unit all values from the framework should be issued.
/// Alias for js import: 'defaultUnitType'
/// @type string
///
$default-unit-type: 'absolute'!default;


///
/// Bold tag weight.
/// Weight of the bold tag as base for the project. Can be a number or a font-weight entry
/// Alias for js import: 'defaultNormalizeBoldWeight'
/// @type string|number
///
$default-normalize-bold-weight: 'bold'!default;


///
/// Project default font family.
/// Alias for js import: 'defaultFontFamily'
/// @type string
///
$default-font-family: 'Arial'!default;


///
/// Project default font dimension.
/// Size of the normalized font size as base for the project. As font-dimension string
/// Alias for js import: 'defaultFontDimensions'
/// @type string|number
///
$default-font-dimensions: '16'!default;


///
/// Font dimension configuration.
/// Configuration of all possible font size/line height combinations. Optional extendable with a letter-spacing value.
/// Alias for js import: 'fontDimensions'
/// @type array
///
$font-dimensions: () !default;
$font-dimensions: map-merge((
    '110' : (
        'size': 110px,
        'line-height': 1.66
    ),
    '82' : (
        'size': 82px,
        'line-height': 1.66
    ),
    '68' : (
        'size': 68px,
        'line-height': 1.66
    ),
    '51' : (
        'size': 51px,
        'line-height': 1.66
    ),
    '42' : (
        'size': 42px,
        'line-height': 1.66
    ),
    '31' : (
        'size': 31px,
        'line-height': 1.66
    ),
    '26' : (
        'size': 26px,
        'line-height': 1.66
    ),
    '19' : (
        'size': 19px,
        'line-height': 1.66
    ),
    '16' : (
        'size': 16px,
        'line-height': 1.66
    ),
    '14' : (
        'size': 14px,
        'line-height': 1.66
    ),
    '12' : (
        'size': 12px,
        'line-height': 1.66
    ),
    '10' : (
        'size': 10px,
        'line-height': 1.66
    )
), $font-dimensions);


///
/// Font types configuration.
/// Configuration of all possible font variants of the project.
/// Alias for js import: 'responsiveFontTypes'
/// @type array
///
$responsive-font-types: () !default;
$responsive-font-types: map-merge((
    'h0': (
        'default': ( $default-font-family, 'regular', '31', 1.2 ),
        's':       ( $default-font-family, 'regular', '42', 1.2 ),
        'm':       ( $default-font-family, 'regular', '51', 1.2 ),
        'l':       ( $default-font-family, 'regular', '68', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '82', 1.2 )
    ),
    'h1': (
        'default': ( $default-font-family, 'regular', '31', 1.2 ),
        'm':       ( $default-font-family, 'regular', '42', 1.2 ),
        'l':       ( $default-font-family, 'regular', '51', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '68', 1.2 )
    ),
    'h2': (
        'default': ( $default-font-family, 'regular', '26', 1.2 ),
        'm':       ( $default-font-family, 'regular', '31', 1.2 ),
        'l':       ( $default-font-family, 'regular', '42', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '51', 1.2 )
    ),
    'h3': (
        'default': ( $default-font-family, 'regular', '19', 1.2 ),
        'm':       ( $default-font-family, 'regular', '26', 1.2 ),
        'l':       ( $default-font-family, 'regular', '31', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '42', 1.2 )
    ),
    'h4': (
        'default': ( $default-font-family, 'regular', '16', 1.2 ),
        'm':       ( $default-font-family, 'regular', '19', 1.2 ),
        'l':       ( $default-font-family, 'regular', '26', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '31', 1.2 )
    ),
    'h5': (
        'default': ( $default-font-family, 'regular', '16', 1.2 ),
        'xl':      ( $default-font-family, 'regular', '19', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '26', 1.2 )
    ),
    'h6': (
        'default': ( $default-font-family, 'regular', '14', 1.2 ),
        'l':       ( $default-font-family, 'regular', '16', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '19', 1.2 )
    ),
    'overline': (
        'default': ( $default-font-family, 'regular', '14', 1.2 ),
        'm':       ( $default-font-family, 'regular', '16', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '19', 1.2 )
    ),
    'subline': (
        'default': ( $default-font-family, 'regular', '14', 1.2 ),
        'xs':      ( $default-font-family, 'regular', '16', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '19', 1.2 )
    ),
    'subline--big': (
        'default': ( $default-font-family, 'regular', '14', 1.2 ),
        'xs':      ( $default-font-family, 'regular', '19', 1.2 ),
        'xxxl':    ( $default-font-family, 'regular', '26', 1.2 )
    ),
    'copytext': (
        'default': ( $default-font-family, 'regular', '14' ),
        'm':       ( $default-font-family, 'regular', '16' ),
        'xxxl':    ( $default-font-family, 'regular', '19' )
    ),
    'copytext--big': (
        'default': ( $default-font-family, 'regular', '16' ),
        'm':       ( $default-font-family, 'regular', '19' ),
        'xxxl':    ( $default-font-family, 'regular', '26' )
    ),
    'copytext--small': (
        'default': ( $default-font-family, 'regular', '12' ),
        'm':       ( $default-font-family, 'regular', '14' ),
        'xxxl':    ( $default-font-family, 'regular', '16' )
    ),
    'button': (
        'default': ( $default-font-family, 'regular', '14', 1.5 ),
        'm':       ( $default-font-family, 'regular', '16', 1.5 ),
        'xxxl':    ( $default-font-family, 'regular', '19', 1.5 )
    ),
    'button--big': (
        'default': ( $default-font-family, 'regular', '16', 1.5 ),
        'm':       ( $default-font-family, 'regular', '19', 1.5 ),
        'xxxl':    ( $default-font-family, 'regular', '26', 1.5 )
    ),
    'form-label': (
        'default': ( $default-font-family, 'regular', '10' ),
        'm':       ( $default-font-family, 'regular', '12' ),
        'xxxl':    ( $default-font-family, 'regular', '14' )
    ),
    'form-text': (
        'default': ( $default-font-family, 'regular', '14', 1.5 ),
        'm':       ( $default-font-family, 'regular', '16', 1.5 ),
        'xxxl':    ( $default-font-family, 'regular', '19', 1.5 )
    )
), $responsive-font-types);


///
/// Font configuration.
/// Configuration of all fonts with weights and stacks to generate font faces.
/// Alias for js import: 'fontConfig'
/// @type array
///
$font-config: () !default;
$font-config: map-merge((
    'Arial' : (
        'alternate-stack': 'sans-serif'
    )
), $font-config);
