////
///
/// c-tooltip
///
/// @group Components
///
////

$c-tooltip-button-color-theme: 'copytext' !default;
$c-tooltip-box-position-offset: spacing('3') !default;
$c-tooltip-box-padding: spacing('10') spacing('16') unitize(12px) !default;
$c-tooltip-box-border-radius: spacing('3') !default;
$c-tooltip-box-font: font($default-font-family, 'regular', '12') !default;
$c-tooltip-button-opacity: .75 !default;
$c-tooltip-box-color-theme: 'tooltip' !default;

.c-tooltip {
    // #region [Block]
    display: block;
    position: relative;
    // #endregion

    // #region [Element]
    &__button {
        display: block;
        padding: 0;
        opacity: $c-tooltip-button-opacity;
        background: transparent;
        border: none;
        outline: none;
        font: inherit;
        cursor: help;
        user-select: none;
        transition: transition-fade-in(all);
        @include color-theme($c-tooltip-button-color-theme);

        &:hover {
            opacity: 1;
        }

    }
    &__icon {
        display: block;
    }
    &__text {
        position: relative; // disable press effect in IE
        font: inherit;
    }
    &__box {
        display: block;
        position: absolute;
        padding: $c-tooltip-box-padding;
        max-width: 80vw;
        border-radius: $c-tooltip-box-border-radius;
        font: $c-tooltip-box-font;
        white-space: nowrap;
        @include color-theme($c-tooltip-box-color-theme);
        p, span {
            font: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    // #endregion

    // #region [Modifier]
    &--position-top-left {
        .c-tooltip__box {
            bottom: calc(100% + #{$c-tooltip-box-position-offset});
            right: 0;
        }
    }
    &--position-top-center {
        .c-tooltip__box {
            bottom: calc(100% + #{$c-tooltip-box-position-offset});
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &--position-top-right {
        .c-tooltip__box {
            bottom: calc(100% + #{$c-tooltip-box-position-offset});
            left: 0;
        }
    }
    &--position-center-left {
        .c-tooltip__box {
            top: 50%;
            right: calc(100% + #{$c-tooltip-box-position-offset});
            transform: translate(0, -50%);
        }
    }
    &--position-center-right {
        .c-tooltip__box {
            top: 50%;
            left: calc(100% + #{$c-tooltip-box-position-offset});
            transform: translate(0, -50%);
        }
    }
    &--position-bottom-left {
        .c-tooltip__box {
            top: calc(100% + #{$c-tooltip-box-position-offset});
            right: 0;
        }
    }
    &--position-bottom-center {
        .c-tooltip__box {
            top: calc(100% + #{$c-tooltip-box-position-offset});
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &--position-bottom-right {
        .c-tooltip__box {
            top: calc(100% + #{$c-tooltip-box-position-offset});
            left: 0;
        }
    }

    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-tooltip) {
        @include c-tooltip;
    }
    // #endregion

}
