<component :is="tag" :class="blockClasses">

    <button :class="element('button')"
            @mouseover="trigger === 'hover' ? visible = true : null"
            @mouseleave="trigger === 'hover' ? visible = false : null"
            @click="visible ? visible = false : visible = true"
            :aria-label="text || $t('c-tooltip-aria-fallback')"
    >
        <c-icon v-if="icon" :class="element('icon')" :name="icon" />
        <span v-html="text" :class="element('text')" v-if="text" />
    </button>

    <transition name="fade">
        <span v-if="visible" role="tooltip" :class="element('box')">
            <slot />
        </span>
    </transition>

</component>
