////
///
/// m-slider
///
/// @group Modules
///
////

$m-slider-margin-top--without-heading: spacing('71') !default;

.m-slider {
    // #region [Block]
    $module: &;
    // #endregion

    // #region [Element]
    &__heading, &__text {
        position: relative;
        z-index: zindex(800);
    }

    &__description {
        @include responsive-spacing('small', margin-bottom);
    }

    & &__slide-area--top-control-space {
        @include above('s') {
            margin-top: $m-slider-margin-top--without-heading;
        }
    }

    .c-slider__toolbar {
        @include grid-areas();
        &-wrapper {
            @include grid-cell-position(3, 1);
            @include grid-cell-size(1);
        }
    }

    @at-root .module#{&} {
        .module__background {
            @include grid-cell-height(2);
        }

        #{$module}__slide-area  {
            min-width: 0;       // https://css-tricks.com/preventing-a-grid-blowout/
            @include grid-cell-row-start(2);
        }
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-slider) {
        @include m-slider;
    }
    // #endregion

}

