<module :class="blockClasses"
        :background="background"
        :backgroundPosition="backgroundPosition"
        :backgroundImage="backgroundImage"
>

    <module-page v-if="(heading && (heading.overline || heading.headline || heading.subline)) || text" :class="element('description')">

        <module-content>

            <layout :layout="options && options.hasOwnProperty('controlPosition') && options.controlPosition === 'top' ? 'l-8-4' : 'l-12'">

                <template v-slot:column-1>

                    <c-heading v-if="heading && (heading.overline || heading.headline || heading.subline)" :class="element('heading')" v-bind="heading" />

                    <c-text v-if="text" :class="element('text')" v-bind="text" />

                </template>

            </layout>

        </module-content>

    </module-page>

    <component :is="'module-' + slideArea" :class="slideAreaClasses">

        <c-slider :options="options" :slides="slides" :slideDefaults="{'layoutArea': layoutArea }" >
            <slot />
        </c-slider>

    </component>

</module>
