<script>
export default {
    name: `transition-replace`,

    functional: true,

    props: {
        affectedElement: {
            type: [ String, Boolean ],
            default: false
        },
        affectedElementHeightSource: {
            type: [ String, Boolean ],
            default: false
        }
    },

    render(createElement, context) {

        let leaveElementHeight = '0px';

        const data = {

            props: {
                name: `replace`,
                mode: 'out-in'
            },

            on: {
                afterEnter(element) {
                    // eslint-disable-next-line no-param-reassign
                    element.style.removeProperty('height');
                },
                enter(element, done) {

                    const { width } = getComputedStyle(element);

                    /* eslint-disable no-param-reassign */
                    element.style.width = width;
                    element.style.visibility = `hidden`;
                    element.style.height = leaveElementHeight;
                    /* eslint-enable */

                    setTimeout(() => {

                        element.style.height = `auto`;

                        const affectedElement = document.querySelector(context.props.affectedElement) || false;
                        let affectedElementHeight;

                        if (affectedElement) {
                            if (context.props.affectedElementHeightSource) {
                                affectedElementHeight = getComputedStyle(affectedElement.querySelector(context.props.affectedElementHeightSource)).height;
                            } else {
                                affectedElementHeight = getComputedStyle(affectedElement).height;
                            }
                        }

                        const { height } = getComputedStyle(element);

                        /* eslint-disable no-param-reassign */
                        element.style.removeProperty('width');
                        element.style.removeProperty('visibility');
                        element.style.height = leaveElementHeight;
                        /* eslint-enable */

                        // Force repaint to make sure the
                        // animation is triggered correctly.
                        // eslint-disable-next-line no-unused-expressions
                        getComputedStyle(element).height;

                        requestAnimationFrame(() => {
                            // eslint-disable-next-line no-param-reassign
                            element.style.height = height;
                            if (affectedElement) {
                                affectedElement.style.height = affectedElementHeight;
                            }
                        });
                        setTimeout(() => {
                            done();
                        }, parseInt(context.parent.$styling.defaultReplaceEnterDuration));
                    }, 0);
                },
                leave(element, done) {
                    const { height } = getComputedStyle(element);
                    leaveElementHeight = height;
                    setTimeout(() => {
                        done();
                    }, parseInt(context.parent.$styling.defaultReplaceLeaveDuration));
                }
            }
        };

        return createElement(`transition`, data, context.children);
    }
};
</script>

<style scoped>
* {
    will-change: height;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}
</style>
