////
///
/// c-tabs
///
/// @group Components
///
////

$c-tabs-title-spacing-mobile: spacing('20') !default;
$c-tabs-title-spacing-desktop: spacing('27') !default;
$c-tabs-title-height: unitize(34px) !default;
$c-tabs-title-item-spacing: spacing('27') !default;
$c-tabs-title-item-font: font($default-font-family, 'bold', '16') !default;

$c-tabs-thumbnail-spacing-mobile: spacing('20') !default;
$c-tabs-thumbnail-spacing-desktop: spacing('10') !default;
$c-tabs-thumbnail-height-mobile: unitize(60px) !default;
$c-tabs-thumbnail-height-desktop: unitize(76px) !default;
$c-tabs-thumbnail-border-radius: unitize(5px) !default;

.c-tabs {
    // #region [Block]
    $module: &;
    width: 100%;
    // #endregion

    // #region [Element]
    &__title-tabs {
        width: 100%;
        padding-top: $c-tabs-title-spacing-mobile;
        padding-bottom: $c-tabs-title-spacing-mobile;
        @include color-theme('background');
    }

    &__title-clipping-bar {
        display: flex;
        width: 100%;
        padding: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        @include hide-scrollbar();
    }

    &__title-item {
        margin-right: $c-tabs-title-item-spacing;
        list-style: none;
        @include rtl() {
            margin-right: 0;
            margin-left: $c-tabs-title-item-spacing;
        }
    }

    &__title-button {
        margin: 0;
        padding: 0;
        transition: transition-fade-in(all);
        border: none;
        font: $c-tabs-title-item-font;
        vertical-align: top;
        white-space: nowrap;
        cursor: pointer;
        @include color-theme('tab-title');

        span {
            position: relative;
            font: inherit;
        }

        &:after {
            content: "";
            display: block;
            position: relative;
            left: 50%;
            width: 0;
            height: unitize(2px);
            transform: translate(-50%,0);
            transition: inherit;
            @include rtl() {
                right: 50%;
                left: 0;
                transform: translate(50%,0);
            }
        }

        &:hover, &--active {
            &:after {
                width: 100%;
            }
        }
    }

    &__content {
        overflow: hidden;
    }

    &__thumbnail-tabs {
        width: 100%;
        height: $c-tabs-thumbnail-height-mobile;
        margin-top: $c-tabs-thumbnail-spacing-mobile;
        overflow-y: hidden;
        @include above('s') {
            height: auto;
            margin-top: $c-tabs-thumbnail-spacing-desktop;
            overflow: hidden;
        }
    }

    &__thumbnail-clipping-bar {
        display: flex;
        align-content: flex-start;
        width: 100%;
        padding: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        @include above('s') {
            flex-wrap: wrap;
            overflow: hidden;
        }
    }

    &__thumbnail-item {
        flex-shrink: 0;
        height: $c-tabs-thumbnail-height-mobile;
        padding-right: spacing('6');
        list-style: none;
        @include rtl() {
            padding-right: 0;
            padding-left: spacing('6');
        }
        @include above('s') {
            max-width: 25%;
            height: $c-tabs-thumbnail-height-desktop;
            margin-top: $c-tabs-thumbnail-spacing-desktop;
            padding-right: $c-tabs-thumbnail-spacing-desktop;
            @include rtl() {
                padding-right: 0;
                padding-left: $c-tabs-thumbnail-spacing-desktop;
            }
        }
        @include above('m') {
            max-width: none;
        }
    }

    &__thumbnail-image {
        @include color-theme('tab-thumbnail');

        &.c-image {
            width: auto;
            height: $c-tabs-thumbnail-height-mobile;
            overflow: hidden;
            border-radius: $c-tabs-thumbnail-border-radius;
            cursor: pointer;

            @include above('s') {
                height: $c-tabs-thumbnail-height-desktop;
            }

            .c-image__element {
                width: auto;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                z-index: zindex(600);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;
                transition: transition-fade-in(all);
                border-radius: $c-tabs-thumbnail-border-radius;
            }

        }
    }
    // #endregion

    // #region [Modifier]
    &--sticky {
        #{$module}__title-tabs {
            position: sticky;
            top: 0;
            overflow-y: hidden;
            z-index: 700;
            @include color-theme('background');
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-tabs) {
        @include c-tabs;
    }
    // #endregion

}
