<div :class="blockClasses">

    <div :class="element('title-tabs')" v-if="hasTitles">
        <ul :class="element('title-clipping-bar')" role="tablist">
            <li v-for="item in titles" role="presentation" :key="`title-${item.index}`" :class="element('title-item')">
                <button type="button" role="tab" @click="showTab(item.index)" :class="element('title-button') + (activeTabIndex === item.index ? ' ' + element('title-button--active') : '')" :aria-selected="(activeTabIndex === item.index ? 'true' : 'false')">
                    <span role="presentation">{{item.title}}</span>
                </button>
            </li>
        </ul>
    </div>

    <div :class="element('content')" ref="content" data-tabs-content>
        <transition-replace>
            <div :key="activeTabIndex" role="tabpanel">
                <slot v-bind:activeContent="activeContent">
                    <component v-for="(component, index) in activeContent" :key="index" :is="component.name" v-bind="component.data.props">
                        <slot v-for="(_, name) in component.slots" :name="name" :slot="name">
                            <component-loader :components="_" />
                        </slot>
                    </component>
                </slot>
            </div>
        </transition-replace>
    </div>

    <div :class="element('thumbnail-tabs')" v-if="hasThumbnails">
        <ul :class="element('thumbnail-clipping-bar')" role="tablist" >
            <li v-for="item in thumbnails" role="presentation" :key="`thumb-${item.index}`" :class="element('thumbnail-item')">
                <c-image
                    v-if="item.thumbnail"
                    v-bind="item.thumbnail"
                    role="tab"
                    :aria-selected="(activeTabIndex === item.index ? 'true' : 'false')"
                    :inline="true"
                    objectFit="cover"
                    :class="element('thumbnail-image') + (activeTabIndex === item.index ? ' ' + element('thumbnail-image--active') : '')"
                    @click.native="showTab(item.index)"
                />
            </li>
        </ul>
    </div>

</div>
