////
///
/// c-ab-slider
///
/// @group Components
///
////

$c-ab-slider-border-width: unitize(2px) !default;
$c-ab-slider-border-background: color('white:05:alpha') !default;
$c-ab-slider-handle-size: unitize(44px) !default;
$c-ab-slider-handle-color: color('white') !default;
$c-ab-slider-handle-background: color('primary') !default;

.c-ab-slider {
    // #region [Block]
    position: relative;
    margin: 0;
    // #endregion

    // #region [Element]
    &__compare-box,
    &__border {
        position: absolute;
        top: 0;
        bottom: 0;
    }
    &__compare-box {
        z-index: zindex(100);
        left: 0;
        width: 100%;
        overflow: hidden;
        transform: translateZ(0);
        will-change: width;
    }

    &__before, &__after {
        max-width: none;
    }

    &__border {
        position: absolute;
        z-index: zindex(200);
        top: 0;
        bottom: 0;
        left: 50%;
        width: $c-ab-slider-border-width;
        overflow: visible;
        background: $c-ab-slider-border-background;
        cursor: ew-resize;
        will-change: left;
    }

    &__handle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $c-ab-slider-handle-size;
        height: $c-ab-slider-handle-size;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: $c-ab-slider-handle-background;
        color: $c-ab-slider-handle-color;
        cursor: inherit;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(#{$c-ab-slider-handle-size} / 2);
            height: calc(#{$c-ab-slider-handle-size} / 2);
            transform: translate(-50%, -50%);
        }
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-ab-slider) {
        @include c-ab-slider;
    }
    // #endregion

}
