<component dir="ltr" :is="tag" :class="blockClasses" @mousemove.prevent="onMouseMove" @touchstart="onMouseMove($event, true)" @touchmove="onMouseMove($event, true)" @click="onMouseMove($event, true)">

    <div :class="element('compare-box')" :style="{ width: posX + 'px' }">
        <div :class="element('after')" :style="dimensions">
            <slot name="after">
                <c-image v-bind="after" :class="element('image')" />
            </slot>
        </div>
    </div>

    <div :class="element('before')" :style="dimensions">
        <slot name="before">
            <c-image v-bind="before" :class="element('image')" />
        </slot>
    </div>

    <div :class="element('border')" :style="{ left: posX + 'px' }" @mousedown.prevent="onMouseDown">
        <div :class="element('handle')">
            <slot name="handle">
                <c-icon name="code" />
            </slot>
        </div>
    </div>
</component>

